{% block contentData %} 
  <div>
	<h6> Assessment - {{ content.title }} </h6>
  {% for objective in content.objectives.all%}
    <li>{{ objective.description }}</li>
  {% endfor %}
  {% for q,placement in assessment_dict|access:content.id|sort_placement %}
    <div>
      Question: {{ q.question }}
    </div>
    <div>
      <div class="row" style="margin-left:0px">
        <div class="span4 collapse-group">
          <p class="collapse">
        {% with ans=assessment_dict|access:content.id|access:q %}
          {% for a in ans.0 %}
            Answer: {{  a.answer }}
          {% endfor %}
        
        
          {% for a in ans.1 %}
            {% if forloop.first %}
            Choices: <br>
            {% endif %}
          
            <input type="checkbox" value = "{{ a.answer }}" 
            {% if a.is_checked %}
            Checked 
            {% endif %} > {{ a.answer }} <br>									
          {% endfor %}
      {% endwith %} </p>
          <p><a class="assessment-collapse-btn" href="#">View Answer &raquo;</a></p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}