.file-wrapper {
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  position: relative;
}
.file-wrapper input {
  cursor: pointer;
  font-size: 100px;
  height: 100%;
  filter: alpha(opacity=1);
  -moz-opacity: 0.01;
  opacity: 0.01;
  position: absolute;
  right: 0;
  top: 0;
}
.file-wrapper .button {
  background: #79130e;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  margin-right: 5px;
  padding: 4px 18px;
  text-transform: uppercase;
}

input[class=editabletext]
{

	font-size:12px;
	color:#545454;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-border-radius: 2px;
	margin-left: 10px;
}

textarea[class=editabletextarea]
{
  margin-bottom: 10px;		
	font-size:12px;
	color:#545454;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-border-radius: 2px;
	margin-left: 10px;
}

.dataAttrib
{

	float: left;
	font-size:18px;
	color:#545454;
	vertical-align: top;
	margin-bottom: 10px;
}

.dataAttribnostyle
{
  
	float: left;
	vertical-align: top;
	margin-bottom: 10px;
}

.editabletextarea
{
	margin-bottom: 10px;
	font-size:14px;
	color:#545454;
	margin-left: 150px;

}

.editabletextarea:hover
{
  outline:blue dotted thin;
}

.editabletext
{
	margin-bottom: 10px;
	font-size:14px;
	color:#545454;
	margin-left: 150px;
}
.editabletext:hover
{
  outline:blue dotted thin;
}
