input[type=text]
{

	font-size:12px;
	color:#545454;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-border-radius: 2px;
	margin-left: 10px;
}

textarea[class=editabletextarea]
{
  margin-bottom: 10px;		
	font-size:12px;
	color:#545454;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-border-radius: 2px;
	margin-left: 10px;
}

.dataAttrib
{

	float: left;
	font-size:18px;
	color:#545454;
	vertical-align: top;
	margin-bottom: 10px;
}

.dataAttribnostyle
{
  
	float: left;
	vertical-align: top;
	margin-bottom: 10px;
}

.editabletextarea
{
	margin-bottom: 10px;
	font-size:14px;
	color:#545454;
	margin-left: 150px;

}

.editabletext
{
	margin-bottom: 10px;
	font-size:14px;
	color:#545454;
	margin-left: 150px;
}
