input[type=text]
{
	margin-top:10px;
	font-size:12px;
	color:#545454;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-border-radius: 2px;
	display:none;
	margin-left: 10px;
	
	
}

textarea
{
	margin-top:10px;
	font-size:12px;
	color:#545454;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-border-radius: 2px;
	display:none;
	width: 600px;
	margin-left: 10px;
}

.dataAttrib
{
	margin-top:10px;
	float: left;
	font-size:18px;
	color:#545454;
	vertical-align: top
}

.editabletextarea
{
	margin-top:10px;
	font-size:14px;
	color:#545454;
	margin-left: 150px;

}

.editabletext
{
	margin-top:10px;
	font-size:14px;
	color:#545454;
	margin-left: 150px;
}
