body {
        padding-top: 0px;
        background-color: #efefef;
        background-image: url('/static/test2.jpg')
      }

#body {
	
		padding-bottom: 60px;
		padding-top: 80px;
		text-align: center;
		width: 100%;

}

.bodycontent {

		padding-top: 50px;
		padding-bottom: 60px;
		background-color: white;
		border-bottom-color: green;
		border-bottom-style: inset;
		border-bottom-width: 1px
		border-top-color: green;
		border-top-style: inset;
		border-top-width: 1px
		
		}
		
.modulecontent {

		color: #c8c8c8;

}

.moduleheader {

		font-size: 14pt;
		font-family: sans-serif;
		font-weight: strong;


}
.bodycontentnobackground {
		padding-top: 40px;
		padding-bottom: 40px;
		color: white;
}

.bottomborder {

	
		border-bottom-width: 1px;
		border-bottom-color: #c8c8c8;
		border-bottom-style: inset;

}

.centercontent {

	padding-left: 14%;

}

#fixed_header {
	
		height: 300px;
		padding-left: 21px;
		padding-top: 90px;
		text-align: left;
		color: white;
		width: 100%;
		background-color: none;

}

#loginbutton {

		padding-top: 5px;
		color: white;
		
	
}

#logoborder {

	border-right-style: inset;
	border-right-width: 1px;

}

.loginlinks {
      
        text-align: center;
      
      }
      
      
.push {
      	
      	height: 10em;
      
      }
      
.logindivider{
        color: #c8c8c8;
      }

.page-header {
        margin-top:0px;
        height: 40px;
        padding-top: 15px;
        position: fixed;
        top: 0px;
        width: 100%;
        background-color: white;
        border: none;
        color: black;
        opacity: 1.5;
        vertical-align: middle;
        	-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 5px 5px -6px #c8c8c8;
	        box-shadow: 0 5px 5px -6px #c8c8c8;
      }
    
.footer {
			 	background-color: white;
			 	border-top-width:1px;
				border-top-style:solid;
				border-top-color:#c8c8c8;
				padding-top: 12px;
				position: fixed;
				height: 50px;
				text-align: center;
				bottom: 0;
				opacity: .98;
				color: #c8c8c8;
				width: 100%;
				
			 }


.separate {

				padding: 10px;
				text-align: center;
}

.secondheader {

			text-align: left;
			padding-left: 41px;

}


.form-signin {
        max-width: 300px;
        padding: 19px 29px 29px;
        background-color: white;
        opacity: .9;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
      }
      
.form-signin .form-signin-heading,
      .form-signin .checkbox {
        margin-bottom: 10px;
      }

.form-signin input[type="text"],
      .form-signin input[type="password"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
      }