			body {
				
				height:100%;
				background-image: url('/static/cream_pixels.png');
				font-family: sans-serif;
			}
			
/* Navigation Bar Styles */
	
		   	.navtitle{
		   		  padding-left: 10px;
				  color: efefef;
		    }
			
			.navheader {
			
				background-color: white;
        		border: none;
        		color: black;
        		opacity: 1.5;
        		vertical-align: middle;
        			-webkit-box-shadow: 0 8px 6px -6px black;
	   				-moz-box-shadow: 0 5px 5px -6px #c8c8c8;
	       				 box-shadow: 0 5px 5px -5px #c8c8c8;
	        
	        }
	        
/* Main content styles */
			
			.basecontent {
			
				border-left-color: #c8c8c8;
				border-left-style: dotted;
				border-left-width: 1px;
				border-right-color: #c8c8c8;
				border-right-style: dotted;
				border-right-width: 1px;
				background-color:white;
			
			}
			
			.course {
			
					padding: 10px;
					text-align:left;
					background-color: 
			 }
			 
			 .profileImage{
			 
			 	height: 40px;
			 	width: 40px;
			 }
			 
			 
			 div #middlecontent{
			 
				height: 100%;
				
			 }
			 
			#leftnav {
			 
				height: 100%;
				border-right-color: #c8c8c8;
				border-right-width: 1px;
				border-right-style: dotted;
				padding-top: 5px
			
			 }
			 
			 div #lessonContent {
			 
			 	padding-left: 10px;
			 
			 }		 
			 div #rightnav {
			 
			 	border-left-width:1px;
				border-left-style:solid;
				border-left-color:#c8c8c8;
				padding-right: 10px;
				padding-left:10px;
			 	height: 100%;
			 }
			 
			 div #holder {
	
				height: 100%;
                position:relative;
                
            }
			 
			  .unitbox {
			 	
			 	height:20%px;
			 	width: 100%;
			 	padding-top: 10px;
			 	padding-bottom: 30px;
			 	vertical-align: middle;
			 	font-size: 10pt;
			 	text-align: justify;
			 	border-top-width: 1px;
			 	border-top-color: #c8c8c8;
			 	border-top-style: solid;
			 	border-left-width: 1px;
			 	border-left-color: #c8c8c8;
			 	border-left-style: solid;
			 	padding-left: 10px;
			 }
			 
/* Unit and Course box display */ 

			.coursebox {
			
                padding-bottom: 15px;
                font-size: 10pt;
                padding-left: 10px;
                border-bottom-width: 1px;
                border-bottom-color: #c8c8c8;
                border-bottom-style: inset;
                margin-top: 10px
                width: 100%;
                margin-top: 10px;
            }
            
            .courseboxtitle {
	
					font-family: sans-serif;
					font-size: 14pt;
					font-weight: stronger;

			}
            
            .courseboxsubtext {
            
            	font-family: sans-serif;
            	font-size: 10pt;
            } 
			.rightunitbox {
			
				height: 20%px;
				width: 100%;
				padding-top: 10px;
				padding-bottom: 0px;
				vertical-align: middle;
				font-size: 10pt;
				text-align: justify;
				border-top-width: 1px;
				border-top-color: #C8C8C8;
				border-top-style: solid;
				border-right-width: 1px;
				border-right-color: #C8C8C8;
				border-right-style: solid;
				padding-left: 10px;
				
				}
				
			
			.leftunitbox {
                    
                height: 20%px;
                width: 100%;
                padding-top: 10px;
                padding-bottom: 30px;
            	vertical-align: middle;
                font-size: 10pt;
            	text-align: justify;
                border-top-width: 1px;
                border-top-color: #C8C8C8;
                border-top-style: solid;
                border-left-width: 1px;
                border-left-color: #C8C8C8;
                border-left-style: solid;
                padding-left: 10px;
                
                }
	
			div #holder{
			
			    height: 100%;
			    position:relative;
			
				} 
				
				
			 .footer {
			 
			 	background-color: whitesmoke;
				border-top-width: 1px;
				border-top-style: solid;
				border-top-color: #c8c8c8;
				height: 50px;
				color: #c8c8c8;
				padding: 0px;
				text-align: center;
				vertical-align: middle;
				bottom: 0;
			 }
			 
			 .rightnavheader{
			 	
			 	text-align: center;
			 
			 }
			 
			 .rightnavsubheader {
			 
			 	padding-top:10px;
			 	height: 50px;
			 	
			 }
			 

 			.rightnavtext {
			 	
			 	font-size: 10pt;
			 
			 }
			 
			
			 
			 .leftmenu {
			 
			 	position: fixed; 
				top: 50px;
				left:0px;	
			 
			 }
			 
/* Lesson Planner Styles */

			 .dropdownLessonPlanner {
			 
			 	padding-bottom: 10px;
			 	
			 }
			 
			 #addContentOnlineVideo {
			 
				width: 850px;
				margin: 0 0 0 -400px;
			
			}
			

 			.sectionheader {
			 
			 	font-size: 14pt;
			 	font-weight: bold;
			 	text-align: left;
			 	border-color: #c8c8c8;
			 	border-bottom-style: dotted;
			 	border-width: 1px;
			 	padding-bottom: 10px;
			 	margin-bottom: 15px;
			 	margin-top: 10px;
			 	vertical-align: center;
			 	
			 } 
			 
			  .overviewsectionnav {
			  
        			margin-top:0px;
        			background-color: #fffff;
        			border: none;
        			vertical-align: center;
			 		font-size: 10pt;
			 		margin-bottom: 5px;
			 		text-align: left;
			 		
			 	}
			 
			   .sectionnav {
        			margin-top:0px;
        			background-color: #fffff;
        			vertical-align: center;
        			border-bottom-color: #c8c8c8;
			 		border-bottom-style: dotted;
			 		border-bottom-width: 1px;
			 		margin-bottom: 5px;
      			}
