 
			body {
				height:500px;
			}
	
		   .navtitle{
		   		  padding-left: 10px;
				  color: efefef;
		    }
			
			.course {
					padding: 10px;
					text-align:left;
					background-color: 
			 }
			 
			 .profileImage{
			 
			 	height: 60px;
			 	width: 60px;
			 }
			 
			 .profileImageBox {
			 	
			 	padding-left:10px;
			 	padding-top:10px;
			 
			 }
			 
			 div #middlecontent{
				height: 100%;
			 }
			 
			 div #leftnav {
			 
				height: 100%;
			
			 }
			 
			 div #lessonContent {
			 
			 	padding-left: 10px;
			 
			 }		 
			 div #rightnav {
			 
			 	border-left-width:1px;
				border-left-style:solid;
				border-left-color:#c8c8c8;
				padding-right: 10px;
				padding-left:10px;
			 	height: 100%;
			 }
			 
			  .unitbox {
			 	
			 	height:20%px;
			 	width: 100%;
			 	padding-top: 10px;
			 	padding-bottom: 30px;
			 	vertical-align: middle;
			 	font-size: 10pt;
			 	text-align: justify;
			 	border-top-width: 1px;
			 	border-top-color: #c8c8c8;
			 	border-top-style: solid;
			 	border-left-width: 1px;
			 	border-left-color: #c8c8c8;
			 	border-left-style: solid;
			 	padding-left: 10px;
			 }
			 
			 .footer {
			 
			 	background-color: #efefef;
			 	border-top-width:1px;
				border-top-style:solid;
				border-top-color:#c8c8c8;
				height: 50px;
				padding: 10px;
				vertical-align: middle;
				position: relative;
				top: 100%;
			 }
			 
			 .rightnavheader{
			 	
			 	text-align: center;
			 
			 }
			 .rightnavsubheader {
			 
			 	padding-top:10px;
			 	height: 50px;
			 	
			 }
			 

 			.rightnavtext {
			 	
			 	font-size: 10pt;
			 
			 }
			 
			 .dropdownLessonPlanner {
			 
			 	padding-bottom: 10px;
			 }
			
			 
			 .leftmenu {
			 
			 	position: fixed; 
				top: 50px;
				left:0px;	
			 
			 }
			 
			 .leftnav {
			 	
			 	padding-left: 10px;
			 	border-color: #c8c8c8;
			 	border-right-style: dotted;
			 	border-width: 1px;
				
				} 


 			.sectionheader {
			 
			 	font-size: 14pt;
			 	font-weight: bold;
			 	text-align: left;
			 	border-color: #c8c8c8;
			 	border-bottom-style: dotted;
			 	border-width: 1px;
			 	padding-bottom: 10px;
			 	margin-bottom: 15px;
			 	margin-top: 10px;
			 	vertical-align: center;
			 	
			 } 
			 
			  .overviewsectionnav {
        			margin-top:0px;
        			background-color: #fffff;
        			border: none;
        			vertical-align: center;
			 		font-size: 10pt;
			 		margin-bottom: 5px;
			 		text-align: left;
			 	}
			 
			   .sectionnav {
        			margin-top:0px;
        			background-color: #fffff;
        			vertical-align: center;
        			border-bottom-color: #c8c8c8;
			 		border-bottom-style: dotted;
			 		border-bottom-width: 1px;
			 		margin-bottom: 5px;
      			}
