<div class="ActivitySearchModal modal hide" id="activity_searchModal">
			{% block results %}
	<div class="modal-header">
		<button type="button" class="close content_close" data-dismiss="modal">x</button>
		<button type="button" onclick="gobackSearch()">Go Back</button>
	    	<h3>Search Results </h3>
	</div>

 <div class="modal-body">
	<table class="table table-hover table-striped table-bordered">
	<thead> <tr> <th> Name </th> <th> Activity Type </th>  <th> Length </th> <th> View 			</th> </tr> </thead>

		{% for act in  activities_found %}

			<tr> <td> {{ act.name }}</td> <td> {{ act.activity_type }} </td> 
			<td> {{ act.length }} </td> <td> <button type="button" onclick="viewActivity({{ act.id }} , {{ section_id }})">View</button> </td> </tr>
		
	{% endfor %}
</table>
</div>
			{% endblock %}	
</div>

<script>
	function gobackSearch()
  {
		$('#activity_searchModal').modal('hide');
		$('#addContentActivity').modal('show');
  }


	function viewActivity(activityid, sectionid)
	{
		$.ajax({
			data: {activity_id:activityid, section_id:sectionid},
			dataType:'html',
			type: "POST", // GET or POST
      url: {% url LessonPlanner.views.activity_ajax_view %}, // the file to call
			success : function(data, status, xhr){
					$('#activity_viewModal').html(data);
 					$('#activity_viewModal').modal('show');
					$('#activity_searchModal').modal('hide')
    	}
		});
	};
</script>
