<div class="ActivityViewModal modal hide" id="activity_viewModal">
			{% block results %}
	<div class="modal-header">
			<button type="button" onclick="gobackResults()">Go Back</button>
		<button type="button" class="close content_close" data-dismiss="modal">x</button>
	    	<h3>Activity </h3>
	</div>
	<div class="modal-body">
		Name: ACTIVITY!!
		{% csrf_token %}
		 <form id="activityForm" action="{% url LessonPlanner.views.activity_add %}" name="c_Activity" method="post">
		 		{% csrf_token %}
				{% for field in activityForm %}
        <div class="control-group">
        	{{ field.errors.as_text }}
          <label class="control-label">{{ field.label_tag }}</label>
          <div class="controls">
          {{ field }}
          </div>
        </div>
        {% endfor %}
		  </form>
		<button type="button" onclick="addActivity()">Add</button>
	</div>
			{% endblock %}	
</div>

<script>
	function gobackResults()
	{
		$('#activity_searchModal').modal('show');
		$('#activity_viewModal').modal('hide');
	};

	function addActivity()
	{
		$('#activityForm').submit();
	};
</script>
