<div class="ActivityViewModal modal hide" id="activity_viewModal">
			{% block results %}
	<div class="modal-header">
			<button type="button" onclick="gobackResults()">Go Back</button>
		<button type="button" class="close content_close" data-dismiss="modal">x</button>
	    	<h3>Search Results </h3>
	</div>
	<div class="modal-body">
		Name: ACTIVITY!!
		 <form id="activityForm" name="activityForm">
		 		{% csrf_token %}
				{% for field in activityForm %}
        <div class="control-group">
        	{{ field.errors.as_text }}
          <label class="control-label">{{ field.label_tag }}</label>
          <div class="controls">
          {{ field }}
          </div>
        </div>
        {% endfor %}
		  </form>
		<button type="button" onclick="addActivity(1,1)">Add</button>
	</div>
			{% endblock %}	
</div>

<script>
	function gobackResults()
	{
		$('#activity_searchModal').modal('show');
		$('#activity_viewModal').modal('hide');
	};

	function addActivity(activityid,contentid)
	{
		activityform_data = $("#activityForm").serialize(); 
		$.ajax({
			data: {activity_id:activityid,
							content_id:contentid,
							form_data:activityform_data},
			dataType:'html',
			type: "POST", // GET or POST
      url: {% url LessonPlanner.views.activity_add %}, // the file to call
			success : function(data, status, xhr){
					$('#activity_viewModal').modal('hide');
     }
		});
	};
</script>
