{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <title>LessnLab - Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/static/bootstrap.css" rel="stylesheet" media="screen">
	<link href="/static/styles.css" rel="stylesheet" media="screen">		 	 
	</style>
	<script type="text/javascript"> <!-- scroll jquery -->
		function goToByScroll(id){
 			$('html,body').animate({scrollTop: $("#"+id).offset().top},1000);
	}
	</script>
	
  </head>
  <body style="padding-top:40px;">
  <div class="navbar navbar-fixed-top navcolor">
    <div class="navbar-inner">
  	   <div class="row-fluid">
		  	<div class="span2">
		  	<ul class="nav">
		  		<li class="dropdown">  
      				 	 <a href="#"  
          				 class="dropdown-toggle"  
          				 data-toggle="dropdown">  
          				 <i class="icon-user"></i> Zain Pasha
          				 <b class="caret"></b>  
      					 </a>  
		     			<ul class="dropdown-menu">
		      				<li><a href="#">Profile</a></li> 
							<li><a href="#">Network</a></li>
		      				<li><a href="#">Settings</a></li>
		      				<li><a href="#">Logout</a></li>
		    			</ul> 
   				</li>
   			</ul>
   			</div>
			<div class="span10">
		  		<ul class="nav pull-left">
				<li class="dropdown">  
      				 	 <a href="#"  
          				 class="dropdown-toggle"  
          				 data-toggle="dropdown"><b class="caret"></b> 

					{% if course %}
						{{ course.subject }}
					{% else %}
						Current Course
					{% endif %}
      					 </a>  
	     				<ul class="dropdown-menu">
					{% for course in userCourses %}  
						<li><a href="/units/?course_id={{ course.id }}">{{ course.subject }}</a></li>
					{% endfor %}

	      				<li><a href="#addCourse" data-toggle="modal"><i class="icon-plus"></i> Add Course</a></li>
	    				</ul>  
 				</li>


				{% if course %}
   				<li><a class="#"> <i class="icon-chevron-right"></i> </a>
   					 <li class="dropdown">  
	      				 	 <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b class="caret"></b>
						{% if unit %}
							{{ unit.name }}
						{% else %}
							Current Unit
						{% endif %} 
						</a>  
		     				<ul class="dropdown-menu">
							{% for unit in userUnits %}  
								<li><a href="/lessons/?unit_id={{ unit.id }}">{{ unit.name }}</a></li>
							{% endfor %}

			      				<li><a href="#addUnit" data-toggle="modal">
							<i class="icon-plus"></i> Add Unit</a></li>
		    				</ul> 
				 
   					</li>
				</li>
				{% endif %}
				{% if unit %}
				   					  
					 <li><a class="#"> <i class="icon-chevron-right"></i> </a>
					 <li class="dropdown">  
					 	 <a href="#"  
		  				 class="dropdown-toggle"  
		  				 data-toggle="dropdown"><b class="caret"></b>
						{% if lesson %}
							{{ lesson.name }}
						{% else %}
							Current Lesson
						{% endif %}
						 </a>  
			     			<ul class="dropdown-menu">
							{% for lesson in userLessons %}  
								<li><a href="/lessonPlanner/?lesson_id={{ lesson.id }}">{{ lesson.name }}</a></li>
							{% endfor %}
			      				<li><a href="#addLesson" data-toggle="modal"><i class="icon-plus"></i> Add Lesson</a></li>
			    			</ul>  
	   				</li>
	
				{% endif %}


   				</ul>
		 </div>	
			
	</div>
</div>
</div>

<div class="row-fluid">
<!-- left hand secondary nav -->
	<div class="span2" id="leftnav">
		<div class="row-fluid">
			<div class="span8 profileImageBox">
				<img class="img-rounded profileImage" src="/static/{{username}}.jpg"/>
				<h5>{{fullname}}</h5>
			</div>	
		</div>
		<div class="row-fluid">
			<ul class="nav nav-list">
  				<li class="nav-header">Favorites</li>
  				<li><a href="/courses/">Home</a></li>
			</ul>
			<ul class="nav nav-list">
  				<li class="nav-header">Courses</li>
					{% for course in userCourses %}  
					<li><a href="/units/?course_id={{ course.id }}">{{ course.subject }}</a></li>
					{% endfor %}
			</ul>
			<ul class="nav nav-list">
  				<li class="nav-header">Tools</li>
  				<li><a href="#">Manage Students</a></li>
  				<li><a href="#">Manage Courses</a></li>
  				<li><a href="#addCourse" data-toggle="modal">Add Course</a></li>
			</ul>
		</div>
	</div>
<!-- Content Area -->
	<div class="span7" id="middlecontent">
	
        {% block content %}{% endblock %}
	
	</div>
	
	<div class="span3" id="rightnav">
	
		{%block rightnav %} {% endblock %}
	
	</div>

</div>
<!-- Footer -->
<div class="row-fluid footer">
		<div class="row-fluid" style="text-align:center; height: 50px; padding-bottom: 20px; background-color:#efefef; vertical-align: middle;">
			<small><p style="padding-top: 10px;">Created by <a href="#">LessnLab Inc.</a>, Copyright 2013. All Rights Reserved.</p></small>
		</div>
</div>

<div class="modal hide" id="addLesson">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">x</button>
    <h3>Add a Lesson</h3>
  </div>
  <div class="modal-body">
    <form method="post" action="{% url LessonPlanner.views.addLesson %}" name="login_form">
        {% csrf_token %}
        {% for field in lessonAddForm %}
        <div class="control-group">
        {{ field.errors.as_text }}
         <label class="control-label">{{ field.label_tag }}</label>
            <div class="controls">
                {{ field }}
            </div>
                </div>
    {% endfor %}
     <p><button type="submit" class="btn btn-primary">Submit</button>
                <button type="button" data-dismiss="modal" class="btn btn-primary">Cancel</button>
<!--Department,Subject,Year-->
      </p>
    </form>
  </div>
</div>



<div class="modal hide" id="addUnit">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">x</button>
    <h3>Add a Unit</h3>
  </div>
  <div class="modal-body">
    <form method="post" action="{% url LessonPlanner.views.addUnit %}" name="login_form">
        {% csrf_token %}
        {% for field in unitAddForm %}
        <div class="control-group">
        {{ field.errors.as_text }}
         <label class="control-label">{{ field.label_tag }}</label>
            <div class="controls">
		{{ field }}
            </div>
                </div>
    {% endfor %}
     <p><button type="submit" class="btn btn-primary">Submit</button>
                <button type="button" data-dismiss="modal" class="btn btn-primary">Cancel</button>
<!--Department,Subject,Year-->
      </p>
    </form>
  </div>
</div>





<div class="modal hide" id="addCourse">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">x</button>
    <h3>Add a course</h3>
  </div>
  <div class="modal-body">
    <form method="post" action="{% url LessonPlanner.views.addCourse %}" name="login_form">
	{% csrf_token %}
	{% for field in courseAddForm %}
        <div class="control-group">
        {{ field.errors.as_text }}
         <label class="control-label">{{ field.label_tag }}</label>
            <div class="controls">
                {{ field }}
            </div>
   		</div>
    {% endfor %}
     <p><button type="submit" class="btn btn-primary">Submit</button>
		<button type="button" data-dismiss="modal" class="btn btn-primary">Cancel</button>
<!--Department,Subject,Year-->
      </p>
    </form>
  </div>
</div>
</body>
<!-- Javascript -->
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/static/bootstrap.js"></script>

</html>
