{% load staticfiles %}
{% load dictionary_extras %}
<!DOCTYPE html>
<html style="height:100%; position:relative;">
  <head>
    <title>LessnLab - Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
		<link href="/static/bootstrap.css" rel="stylesheet" media="screen">
		<link href="/static/styles.css" rel="stylesheet" media="screen">
		<link rel="stylesheet" href="http://blueimp.github.com/cdn/css/bootstrap.min.css">
		<link rel="stylesheet" href="/static/bootstrap-image-gallery.css">	
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		<script src="/static/bootstrap.js"></script>
		  <script src="/static/jQuery.jQTubeUtil.js"></script>
		<script type="text/javascript"> <!-- scroll jquery -->
			function goToByScroll(id){
	 			$('html,body').animate({scrollTop: $("#"+id).offset().top - 100},1500);
			}
			function getVideoIDfromLink(url)
			{
					var regExp = /^.*(youtu.be\/|v\/|u\/\w\/|embed\/|watch\?v=|\&v=)([^#\&\?]*).*/;
					var match = url.match(regExp);
					if (match&&match[2].length==11){
							return match[2];
					}else{
							//error
					}
			};

			function getVideoHtmlbyLink(video_link,div_id)
			{
				video_id = getVideoIDfromLink(video_link);
				return getVideoHtmlbyID(video_id,div_id);
			};

			function getVideoHtmlbyID(video_id,div_id)
			{
				jQTubeUtil.video(video_id,function(response)
				{
					var video = response.videos[0];
					jQuery("#"+div_id).html(getVideoHtml(video));
				});
			};

			function getVideoHtml(video)
			{
				var title = video.title.substring(0,32);
				var description = video.description.substring(0,32);
				var video_id = video.videoId;
				var url = "http://www.youtube.com/watch?feature=player_embedded&v=" + video_id;
				return "<div style='width:330px;'> <div style='width:175px; float:right'> <b>Title: </b> <a href='" + url + "' > "  + title + "</a><div> <b> Description: </b>" + description +"</div> </div> <div onclick='onVidImgClick(this)' > <img src='http://img.youtube.com/vi/" + video_id + "/1.jpg' alt='splash' width='120px' height='90px' style='cursor: pointer' style='display:inline'/ ></div> <div style='display: none'>   <iframe width='200px' height='150px' temp='http://www.youtube.com/embed/" + video_id + "?autoplay=1'> </iframe></div>";

			};

		</script>
  </head>

  <body style="padding-top:40px; padding-bottom:50px;">
		<div style="height: 100%">
			{% include "navbar.html" %}
			<div class="row-fluid" style="position: relative; height: 100%">
				<div class="span2 noborderunitbox" id="leftnav">
					<ul class="nav nav-pills nav-stacked" id="navbar">
						<li><a href="javascript:void(0)" onClick="goToByScroll('overview')">Overview</a></li>
						{% for section, content_list in sections.items %}
				 		{% with section.name as user_key %}
							<li><a href="javascript:void(0)" onClick="goToByScroll('{{ section.id }}')">
								{{ section_types|access:user_key }} - {{ section.description }}
						 </a></li>
	 					{% endwith %}
						{% endfor %}
					</ul>
					<a class="btn btn-primary btn-small" type="button" href="#addSection" data-toggle="modal">Add Section</a>
				</div>
				<div class="span10 leftunitbox" id="content" style="margin-left: 0px;">
	      	{% block content %}{% endblock %}
				</div>
			</div>
			{% include "footer.html" %}
			{% include "modals.html" %}
		</div>
	</body>
<!-- Javascript -->
<script>

	$('.row .btn').on('click', function(e) {
    e.preventDefault();
    var $this = $(this);
    var $collapse = $this.closest('.collapse-group').find('.collapse');
    $collapse.collapse('toggle');
		if(this.innerHTML.indexOf("View") >= 0)
			this.innerHTML = "Hide Answer &laquo;";
		else
			this.innerHTML = "View Answer &raquo;";
});
	
	

	function doBasicSearch(){
		jQuery("#basic_search_response_processing").show();
		jQTubeUtil.search(jQuery('[name=free_text_1]').val(), function(response){
			var html = "";
			for(v in response.videos){
				var video = response.videos[v];
				html += 
		" <li class='row-fluid' style='display:block; margin-bottom: 15px;'><div style='display:inline; vertical-align: middle'><input style='margin-right:10px; margin-top:50px; float:left' name='rl' type='checkbox' class='myclass' value='http://www.youtube.com/embed/?v=" + video.videoId + "' id='id_rl_0'> ";

				html += getVideoHtml(video);
				html += "</div></li>"

			}
			jQuery("#basic_search_response_itemsPerPage").html(response.itemsPerPage);
			jQuery("#basic_search_response_searchURL").html(response.searchURL);
			jQuery("#basic_search_response_startIndex").html(response.startIndex);
			jQuery("#basic_search_response_totalResults").html(response.totalResults);
			jQuery("#basic_search_response_version").html(response.version);
			jQuery("#basic_search_response").html(html);
			jQuery("#basic_search_response_processing").hide();
		});
	};

	function onVidImgClick(el)
	{
		actualNextSibling(el).style.display='inline';
		el.style.display='none';
		var iframe = actualNextSibling(el).children[0];
		var url = iframe.getAttribute("temp");
		iframe.setAttribute("src",url);
		el.parentNode.style.width='400px';
		el.parentNode.children[0].style.display='none';
	};


  function actualNextSibling(el) {    // needed to smooth out default firefox/IE behavior
      do { el = el.nextSibling } while (el && el.nodeType !== 1);
          return el;
  };


	form_count = $("[name=extra_field_count]").val();

	$("#addMC").click (function(){
		var form = document.getElementsByName("c_Assessment");
		form.append('<input type=text / >');
		alert("Add mc");
	});


	$("#addFR").click (function(){
		var form = document.getElementsByName("c_Assessment");

		var label,label2,div,textbox,answerbox;
		label = document.createElement('label');
		label.className ="control-label";
		label2 = document.createElement('label');
		label.className ="control-label";
		label.appendChild(document.createTextNode('Question: '));
		label2.appendChild(document.createTextNode('Answer:'));

		textbox = document.createElement('input');
		textbox.name = 'extra_field_' + form_count;
		form_count ++; 
	
		answerbox = document.createElement('textarea');
		answerbox.name = 'extra_field_' + form_count;
		form_count ++; 

		div = document.createElement('div');
		textbox.type = 'text';		

  		var reper = document.getElementById('addFR');
 	 	var parinte = reper.parentNode;

  		parinte.insertBefore(label, reper);
		parinte.insertBefore(textbox, reper);
		parinte.insertBefore(label2, reper);
		parinte.insertBefore(answerbox, reper);
		parinte.insertBefore(div, reper);		
		
    		$("[name=extra_field_count]").val(form_count);

	});

   $(".content_show").click(function(){  
		jQuery('[name=free_text_1]').val("");
		


		var sid = $(this).data('sectionid'); 
		var ct = $(this).data('contenttype'); 
		var x=document.getElementsByTagName("form");
		for(var i=0;i<x.length;i++)
		{
			var name = x[i].attributes["name"].value;
			if(name.indexOf("c_") === 0)
			{
				if(name.indexOf(ct) !== -1)
				{			
					x[i].section_id.value=sid;
					var a = x[i];
				}
			}
		}		
		$('#addContent'+ct).modal('show');
   });

	 $(".content_close").click(function(){  
		var x=document.getElementsByTagName("form");
		for(var i=0;i<x.length;i++)
		{
			var a = x[i];
			var iframes = a.getElementsByTagName("iframe");
			for(var p=0;p<iframes.length;p++)
			{
				var iframe = iframes[p];
				iframe.setAttribute("src","");
			}
		}		
   });



	$(".delete_section").click(function(){  
		
		var sid = $(this).data('sectionid');
		var x=document.getElementsByTagName("form");
		for(var i=0;i<x.length;i++)
    {
            var name = x[i].attributes["name"].value;
            if(name.indexOf("deleteSection") === 0)
            {	
                x[i].section_id.value=sid;               
            }
    }
    $('#deleteSection').modal('show');
	});
	$(".delete_content").click(function(){ 
	
		var cid = $(this).data('contentid');
		var x=document.getElementsByTagName("form");

		for(var i=0;i<x.length;i++)
    {
      var name = x[i].attributes["name"].value;
      if(name.indexOf("deleteContent") === 0)
      {
          x[i].content_id.value=cid             
      }
    }
    $('#deleteContent').modal('show');
	});

$('.ddt').click(function(){
	
	//	if( ('.mymenu').height().replace('px','') > 98)  
	//	$('.mymenu').removeClass('.dropdown'); 
	//	$('.mymenu').addClass('.dropup');
}
);


	</script>

</html>
