{% load staticfiles %}
<!DOCTYPE html>
<html style="height:100%; position:relative;">
  <head>
    <title>LessnLab - Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
		<link href="/static/bootstrap.css" rel="stylesheet" media="screen">
		<link href="/static/styles.css" rel="stylesheet" media="screen">
		<link rel="stylesheet" href="http://blueimp.github.com/cdn/css/bootstrap.min.css">
		<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>	
  </head>
  <body style="padding-top:40px; padding-bottom:50px;">
  {% include "navbar.html" %}
		<div class="container page-wrapper">
			<div class="row-fluid" style="position: relative; height: 100%">
				{% include "leftnav.html" %}
				<div class="span10" id="content" style="margin-left: 0px;">
		    	{% block content %}{% endblock %}
				</div>
			</div>
			{% include "footer.html" %}
			{% include "modals.html" %}
		<div>
	</body>
	<script src="/static/bootstrap.js"> </script>

</html>
