{% load staticfiles %}
<!DOCTYPE html>
<html style="height:100%;">
  <head>
    <title>LessnLab</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
		<link href="/static/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="/static/styles.css" rel="stylesheet" media="screen">
		<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>	
 <script src="/static/lessnlab.js"></script>
  <script>
  	jQuery(function ($) {
	$("a").tooltip()})
	
  </script>
  </head>
  <body>
		<div class="container basecontent" style="padding-top: 42px; width: 1000px; min-height: 100%; margin-bottom: -50px; height:auto;">
		 {% include "navbar.html" %}
		 {% block content %}{% endblock %}
			<div class="push"></div>
		</div>
			{% include "footer.html" %}
			{% include "modals.html" %}
	</body>
	<script src="/static/bootstrap.js"> </script>

</html>
