{% load staticfiles %}
{% load dictionary_extras %}
<!DOCTYPE html>
<html style="height:100%; position:relative;">
  <head>
    <title>LessnLab - Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
		<link href="/static/bootstrap.css" rel="stylesheet" media="screen">
		<link href="/static/styles.css" rel="stylesheet" media="screen">
		<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	
		<script src="/static/jQuery.jQTubeUtil.js"></script>
  	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  	<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
		<script src="/static/bootstrap.js"></script>
 <script src="/static/lessnlab.js"></script>

		<style>
			.portlet { margin: 0 1em 1em 0; }
			.portlet-header { margin: 0.3em;  padding-left: 0.2em; }
			.portlet-header .ui-icon { float: right; }
			.portlet-content { padding: 0.4em; }
			.ui-sortable-placeholder { border: 1px dotted black; visibility: visible !important; height: 50px !important; }
			.ui-sortable-placeholder * { visibility: hidden; }
  	</style>
	<script>
$(function() {
    $( ".portlet" ).addClass( "ui-widget ui-widget-content ui-helper-clearfix ui-corner-all" )
      .find( ".portlet-header" )
        .addClass( "ui-widget-header ui-corner-all" )
        .prepend( "<span class='ui-icon ui-icon-plusthick'></span>")
        .end()
      .find( ".portlet-content" )
			.hide();
 
    $( ".portlet-header .ui-icon" ).click(function() {
      $( this ).toggleClass( "ui-icon-plusthick" ).toggleClass( "ui-icon-minusthick" );
      $( this ).parents( ".portlet:first" ).find( ".portlet-content" ).toggle();
    });
 });

 $(function() {
    $( ".content_sortable" ).sortable({
			start: function(event, ui) {
            var start_pos = ui.item.index();
            ui.item.data('start_pos', start_pos);
      },
			stop: function( event, ui ) 
			{
				var start =  ui.item.data('start_pos') + 1;
				var final = ui.item.index() + 1;
				var section_id  = ui.item.parent().attr("section_id");
				a = $("#section"+section_id)[0];							
				div1 = a.children[start];
				div2 = a.children[final];

				if(start > final)
					a.insertBefore(div1,div2);
				else
					insertAfter(div2,div1);

				var stringData = start + "," + final;
				$.ajax({ // create an AJAX call...
            data: {
					    start : start,
					    final : final,
							section : section_id,
									},
            type: "POST", // GET or POST
						url: {% url changeContentPlacement %},
            success: function(response) { // on success..
                 // update the DIV
        		}
        });
			}
		});
	});


  $(function() {
    $( "#sortable" ).sortable({
			handle: ".portlet-header",
			
			start: function(event, ui) {
            var start_pos = ui.item.index();
            ui.item.data('start_pos', start_pos);
      },
			stop: function( event, ui ) 
			{
				var start =  ui.item.data('start_pos') + 1;
				var final = ui.item.index() + 1;
			
				a = $("#allSections")[0];							
				div1 = a.children[start];
				div2 = a.children[final];

				var stringData = start + "," + final;
				$.ajax({ // create an AJAX call...
            data: {
					    start : start,
					    final : final
									},
            type: "POST", // GET or POST
            url: "/changeSectionPlacement/?lesson_id={{lesson.id}}", // the file to call
            success: function(response) { // on success..
              if(start > final)
								a.insertBefore(div1,div2);
							else
								insertAfter(div2,div1);
        		}
        });
			}
		});
    $( "#sortable" ).disableSelection();
  });
	function insertAfter(referenceNode, newNode) {
    referenceNode.parentNode.insertBefore(newNode, referenceNode.nextElementSibling);
	}
  </script>
		<script type="text/javascript"> <!-- scroll jquery -->
			function goToByScroll(id){
	 			$('html,body').animate({scrollTop: $("#"+id).offset().top - 100},1500);
			}
			function getVideoIDfromLink(url)
			{
					var regExp = /^.*(youtu.be\/|v\/|u\/\w\/|embed\/|watch\?v=|\&v=)([^#\&\?]*).*/;
					var match = url.match(regExp);
					if (match&&match[2].length==11){
							return match[2];
					}else{
							//error
					}
			};

			function getVideoHtmlbyLink(video_link,div_id)
			{
				video_id = getVideoIDfromLink(video_link);
				return getVideoHtmlbyID(video_id,div_id);
			};

			function getVideoHtmlbyID(video_id,div_id)
			{
				jQTubeUtil.video(video_id,function(response)
				{
					var video = response.videos[0];
					jQuery("#"+div_id).html(getVideoHtml(video));
				});
			};

			function getVideoHtml(video)
			{
				var title = video.title.substring(0,32);
				var description = video.description.substring(0,32);
				var video_id = video.videoId;
				var url = "http://www.youtube.com/watch?feature=player_embedded&v=" + video_id;
				return "<div style='width:330px;'> <div style='width:175px; float:right'> <b>Title: </b> <a href='" + url + "' > "  + title + "</a><div> <b> Description: </b>" + description +"</div> </div> <div onclick='onVidImgClick(this)' > <img src='http://img.youtube.com/vi/" + video_id + "/1.jpg' alt='splash' width='120px' height='90px' style='cursor: pointer' style='display:inline'/ ></div> <div style='display: none'>   <iframe width='200px' height='150px' temp='http://www.youtube.com/embed/" + video_id + "?autoplay=0'> </iframe></div>";

			};

		</script>
  </head>

  <body style="padding-top:40px; padding-bottom:50px;">
		<div style="height: 100%">
			{% include "navbar.html" %}
			<div class="row-fluid" style="position: relative; height: 100%">
				<div class="span2 noborderunitbox" id="leftnav" style="position:fixed;margin-left:8px">
					<ul class="nav nav-pills nav-stacked">
						<li>
							<a href="javascript:void(0)" id="leftNav0" onClick="goToByScroll('overview')">Overview</a>
					  </li>
					</ul>
					<ul class="nav nav-pills nav-stacked sections_sortable" id="sortable">
						
						{% for section, section_placement in sections|sort_placement %}
				 		{% with section.name as user_key %}
						<div class="portlet">
							<div class="portlet-header"><a href="javascript:void(0)" 
								id="leftNav{{ section.id }}" onClick="goToByScroll('{{ section.id }}')">{{ section_types|access:user_key }}</a>
							</div>
    					<div class="portlet-content">
								<ul class="nav nav-pills nav-stacked content_sortable" section_id="{{ section.id }}">
									{% for content, content_placement in sections|access:section|sort_placement %}
										<li><a href="javascript:void(0)" class="content_types" id="leftNav{{ section.id }}" onClick="goToByScroll('{{content.id }}_content')">
										{{ content.content_type }}
										 </a></li>
												
								{% endfor %}
							</div>
						</div>
	 					{% endwith %}
						{% endfor %}
					</ul>
					<a class="btn btn-primary btn-small" type="button" href="#addSection" data-toggle="modal">Add Section</a>
				</div>
				<div class="span10 noborderunitbox" id="content" style="margin-left: 12.2pc;">
	      	{% block content %}{% endblock %}
				</div>
			</div>
		
			{% include "modals.html" %}
		</div>
	</body>
<!-- Javascript -->
<script>

	$(function(){
    $(document).on('click', '.assessment-collapse-btn', function(e){ 
	
    e.preventDefault();
    var $this = $(this);
    var $collapse = $this.closest('.collapse-group').find('.collapse');
    $collapse.collapse('toggle');
		if(this.innerHTML.indexOf("View") >= 0)
			this.innerHTML = "Hide Answer &laquo;";
		else
			this.innerHTML = "View Answer &raquo;";
});
});
	
	

	function doBasicSearch(){
		jQuery("#basic_search_response_processing").show();
		jQTubeUtil.search({"q":jQuery('[name=free_text_1]').val(), "orderby":"relevance"}, function(response){
			var html = "";
			for(v in response.videos){
				var video = response.videos[v];
				html += 
		" <li class='row-fluid' style='display:block; margin-bottom: 15px;'><div style='display:inline; vertical-align: middle'><input style='margin-right:10px; margin-top:50px; float:left' name='rl' type='checkbox' class='myclass' value='http://www.youtube.com/embed/?v=" + video.videoId + "' id='id_rl_0'> ";

				html += getVideoHtml(video);
				html += "</div></li>"

			}
			jQuery("#basic_search_response_itemsPerPage").html(response.itemsPerPage);
			jQuery("#basic_search_response_searchURL").html(response.searchURL);
			jQuery("#basic_search_response_startIndex").html(response.startIndex);
			jQuery("#basic_search_response_totalResults").html(response.totalResults);
			jQuery("#basic_search_response_version").html(response.version);
			jQuery("#basic_search_response").html(html);
			jQuery("#basic_search_response_processing").hide();
		});
	};

	function onVidImgClick(el)
	{
		actualNextSibling(el).style.display='inline';
		el.style.display='none';
		var iframe = actualNextSibling(el).children[0];
		var url = iframe.getAttribute("temp");
		iframe.setAttribute("src",url);
		el.parentNode.style.width='400px';
		el.parentNode.children[0].style.display='none';
	};


  function actualNextSibling(el) {    // needed to smooth out default firefox/IE behavior
      do { el = el.nextSibling } while (el && el.nodeType !== 1);
          return el;
  };


	form_count = $("[name=extra_field_count]").val();
	ansID_count = 0;

	$("#addMC").click (function(){
		var label,label2,div,textbox,answerbox;
		var qaDiv = document.createElement('div');
		qaDiv.className = "well";
		qaDiv.id = "qa" + form_count;
		qaDiv.innerHTML = "<div style='position:relative; float:right;'><a onclick='deleteQuestion(" + form_count + ")' class='btn btn-primary btn-mini'>x</a></div>"

		label = document.createElement('label');
		label.className ="control-label";
		label2 = document.createElement('label');
		label.className ="control-label";
		label.appendChild(document.createTextNode('Question: '));
	
		textbox = document.createElement('input');
		textbox.name = form_count+'question_mc_' + form_count;
		textbox.type = 'text';		
		idAns = "answer_mc_" + form_count + "_" + + ansID_count;
   	idCb = "answer_cb_" + form_count + "_" + ansID_count;
		idDiv = "answer_dv_" + form_count + "_" + ansID_count;
		label2.appendChild(document.createTextNode('Answer:'));
		addAnswerButton = document.createElement('div')
		addAnswerButton.innerHTML = 
			"<a onclick='addMCAnswer(" + form_count + ")' class='btn btn-primary btn-mini'>Add</a>"
		label2.appendChild(addAnswerButton);
		
		mc = document.createElement('div');
		mc.id = "answer_mc_" + form_count;
		mc.innerHTML = 
			"<div  id='" + idDiv +"'><input type='checkbox' style='margin-right:10px;' name='" +
			idCb + "' value=''>" + "<input type='textbox' name='"+ idAns+"' style='margin-right:10px; / >" +
			"<div  style='position:relative; float:right;><a onclick='deleteMCAnswer(" + idDiv + ")' class='btn btn-primary btn-mini'>x</a></div>" + 
			"</input></div>"

		form_count ++; 

		qaDiv.appendChild(label);
		qaDiv.appendChild(textbox);
		qaDiv.appendChild(label2);
		qaDiv.appendChild(mc);
			
  	var parinte = document.getElementById('assess_q');
  	parinte.appendChild(qaDiv);		
    $("[name=extra_field_count]").val(form_count);
		$("[name=ans_id_count]").val(ansID_count);

	});

	function addMCAnswer(formCount)
	{
		ansID_count++;
		newAns = document.createElement('div');
		idAns = "answer_mc_" + formCount + "_" + ansID_count;
		idCb = "answer_cb_" + formCount + "_" + ansID_count;
		idDiv = "answer_dv_" + formCount + "_" + ansID_count;
		newAns.id = idDiv;
		newAns.style.marginTop = "10px";
		newAns.innerHTML = 
		"<input type='checkbox' style='margin-right:10px;' name='" + 
			idCb + "' value=''>" + "<input type='textbox' name='"+idAns+"' style='margin-right:10px; / >" +
			"<div  style='position:relative; float:right;><a onclick='deleteMCAnswer(" + idDiv + ")' class='btn btn-primary btn-mini'>x</a></div>" + 
			"</input>"
		$("#answer_mc_" + formCount)[0].appendChild(newAns);
		$("[name=ans_id_count]").val(ansID_count);
	}
	function deleteMCAnswer(idDiv)
	{
		$(idDiv).remove()
	};

	function deleteQuestion(formNumber)
	{
		$('#qa' + formNumber).remove()
	};


	$("#addFR").click (function(){
		var label,label2,div,textbox,answerbox;
		var qaDiv = document.createElement('div');
		qaDiv.className = "well";
		qaDiv.id = "qa" + form_count;
		qaDiv.innerHTML = "<div style='position:relative; float:right;'><a onclick='deleteQuestion(" + form_count + ")' class='btn btn-primary btn-mini'>x</a></div>"

		label = document.createElement('label');
		label.className ="control-label";
		label2 = document.createElement('label');
		label.className ="control-label";
		label.appendChild(document.createTextNode('Question: '));
		label2.appendChild(document.createTextNode('Answer:'));

		textbox = document.createElement('input');
		textbox.name = form_count+'question_fr_' + form_count;
		textbox.type = 'text';		
	
		answerbox = document.createElement('textarea');
		answerbox.name = 'answer_fr_' + form_count + "_0";
		form_count ++; 

		qaDiv.appendChild(label);
		qaDiv.appendChild(textbox);
		qaDiv.appendChild(label2);
		qaDiv.appendChild(answerbox);
	
  	var parinte = document.getElementById('assess_q');
  	parinte.appendChild(qaDiv);		
    $("[name=extra_field_count]").val(form_count);

	});

	$(function(){
    $(document).on('click', '.content_show', function(){  
		jQuery('[name=free_text_1]').val("");
		jQuery('[id=assess_q]')[0].innerHTML = "";
		
		var sid = $(this).data('sectionid'); 
		var ct = $(this).data('contenttype'); 
		var x=document.getElementsByTagName("form");
		for(var i=0;i<x.length;i++)
		{
			if (!("name" in x[i].attributes))
				continue;
			var name = x[i].attributes["name"].value;
			if(name.indexOf("c_") === 0)
			{
				if(name.indexOf("Activity") != -1 )
				{
					$('#create_activity')[0].attributes['section_id'].value = sid;
				}
			  else if(name.indexOf(ct) !== -1)
				{			
					x[i].section_id.value=sid;				
				}
			}
		}		

		$('#addContent'+ct).modal('show');
   });
});

	$(function(){
    $(document).on('click', '.content_close', function(){ 
		var x=document.getElementsByTagName("form");
		for(var i=0;i<x.length;i++)
		{
			var a = x[i];
			var iframes = a.getElementsByTagName("iframe");
			for(var p=0;p<iframes.length;p++)
			{
				var iframe = iframes[p];
				iframe.setAttribute("src","");
			}
		}		
   });
});



	$(function(){
    $(document).on('click', '.delete_section', function(){  
		
		var sid = $(this).data('sectionid');
		var x=document.getElementsByTagName("form");
		for(var i=0;i<x.length;i++)
    {
            var name = x[i].attributes["name"].value;
            if(name.indexOf("deleteSection") === 0)
            {	
                x[i].section_id.value=sid;               
            }
    }
    $('#deleteSection').modal('show');

	});
});

	$(function(){
    $(document).on('click', '.delete_content', function(){ 
	
		var cid = $(this).data('contentid');
		var x=document.getElementsByTagName("form");

		for(var i=0;i<x.length;i++)
    {
      var name = x[i].attributes["name"].value;
      if(name.indexOf("deleteContent") === 0)
      {
          x[i].content_id.value=cid             
      }
    }
    $('#deleteContent').modal('show');

	});
});

	
	</script>


{% include "ActivitySearchModal.html" %}
{% include "ActivityViewModal.html" %}
{% include "ActivityModal.html" %}



</html>
