
<div class="modal hide" id="cloneCourseFailed">
  <div class="modal-header">
  	  <button type="button" class="close" data-dismiss="modal">x</button>
    <h3>Clone Course Failed</h3>
  </div>
  <div class="modal-body">
     Failed to clone course, sorry about that
	<p>
                <button type="button" data-dismiss="modal" class="btn btn-primary">Cancel</button>
	</p>
  </div>
</div>

<script type="text/javascript"> 


        function cloneCourse(id) {

		$.ajax({
			data:{course_id:id},
			type: "POST", // GET or POST
      url: {% url LessonPlanner.views.cloneCourse %}, // the file to call
			success : function(data){
					if (data == "") {
						$("#cloneCourseFailed").modal("show")
					}
					else {
						window.location = {% url LessonPlanner.views.showCourses %}
					}
       }
		});

	}

</script>
