{% extends "base.html" %}
{% load staticfiles %}
{% load dictionary_extras %}
<!DOCTYPE html>
{% block content %}
{% for course in userCourses %}
<div class="container coursebox" style="width: 100%;">
<div class="row">
	<div class="span4">
        <a class="courseboxtitle" href="/units/?course_id={{ course.id }}" >{{ course.name }}</a>
    </div>
    <div class="span1 offset3" style="text-align: right; width: 142px;">
    	{% for group in course.standard_grouping.all %}
    	<a href="javascript:void(0)" rel="tooltip" data-placement="bottom" title="View the learning standards this course is aligned to" onClick="getCourseStandardsFromGroup('{{ group.id }}')"><small>View Standards</small></a>
		{% endfor %}
    </div>
    <div class="span1" style="text-align: right; width: 10px;">
    	<a href="javascript:void(0)" onClick="requestEditCourse('{{ course.id }}')"><small>Edit</small></a>
    </div>
    <div class="span1" style="padding-top:3px; width: 28px;">
    	 <a class="close" rel="tooltip" data-placement="right" title="Delete Course" onClick="requestDeleteCourse('{{ course.id }}')"><i class="icon-trash"></i></a>
    </div>
</div>
<div class="row">
	<div class="span3">
		<h5 class="coursesubtitle">Grade {{ course.grade }}, {{ course.subject }}</h5>
	</div>
</div>
<div class="row courseboxsubtext">
    <div class="span2">
    	<p><b>Written By: </b><a href="#">{{fullname}}</a></p> 
    </div>
</div>
<div class="row">
	<div class="span10">
    	<div class="btn-group">
  			<a class="btn btn-success btn-small" href="/units/?course_id={{ course.id }}">Go To Course</a>
  			<button class="btn btn-success btn-small dropdown-toggle" data-toggle="dropdown">
    			<span class="caret"></span>
  			</button>
  			<ul class="dropdown-menu">
  				{% for group in course.standard_grouping.all %}
    			<li><a href="#" onClick="getCourseStandardsFromGroup('{{ group.id }}')">View Course Standards</a></li>
  				{% endfor %} 
  			</ul>
		</div>
    </div>
</div>
</div> <!-- Course box -->
{% endfor %}

{% include "course_edit_modal.html" %}
{% include "course_delete_modal.html" %}

{% if addCourseSecondStep %}
<div class="modal" id="second">
  <div class="modal-header">
    <a class="close" type="button" href="/courses/">x</a>
    <h3>Synced standards to course</h3>
  </div>
  <div class="modal-body">
        We have synced a set of standards based on criteria from your Course
	{% for group in groupsAdded %}
	<table class="table table-striped table-bordered">

	<thead> <tr> <th> # </th> <th> Content </th> </tr> </thead>
		{% for standard in groupsAdded|access:group %}
			<tr><td>{{ standard.numbering }} </td> <td> <a href="/standard/?standard_id={{ standard.id }}">{{ standard.description }} </a> </td> </tr>
		{% endfor %}
	</table>
        {% endfor %}
	<a class="btn btn-primary" type="button" href="/courses/">OK</a>
      </p>
    </form>
  </div>
</div>
{% endif %}

{% if showGroupStandards %}
<div class="modal" id="deleteCourse">
  <div class="modal-header">
    <a class="close" type="button" href="/courses/">x</a>
    <h3>{{ selectedGroup.name }}</h3>
    <h4>This group has been synced based on class parameters</h4>
  </div>
  <div class="modal-body">
	<table class="table table-striped table-bordered">

	<thead> <tr> <th> # </th> <th> Content </th> </tr> </thead>
        {% for standard in groupStandards %}
        
		<tr><td>{{ standard.numbering }} </td> <td> <a href="/standard/?standard_id={{ standard.id }}">{{ standard.description }} </a> </td> </tr>
    {% endfor %}
	</table>

  </div>
</div>
{% endif %}


<script type="text/javascript"> <!-- scroll jquery -->
	function getCourseStandardsFromGroup(id){

		var f = document.createElement("form");
		f.setAttribute('method',"post");
		f.setAttribute('action',"{% url LessonPlanner.views.getStandardsFromGroup %}");
		var i = document.createElement("input");
		i.setAttribute('type',"hidden");
		i.setAttribute('value', id );
		i.setAttribute('name',"group_id");
		f.appendChild(i);
		document.body.appendChild(f);
		f.submit();
	}
</script>

{% endblock %}
