{% load dictionary_extras %}
<div class="modal hide" id="chooseNewCourse">
	{% block chooseNewCourse %} 
 <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">x</button>
    <h3>Add a course</h3>
  </div>
  <div class="modal-body">
	<!--
	<div id="getRecommendedCourses">
	   <form method="post" action="" id="getRecommendedCoursesForm">
		{% csrf_token %}
		{% for field in recommendCourseParametersForm %}
			 <div class="control-group">
	        	{{ field.errors.as_text }}
        		 <label class="control-label">{{ field.label_tag }}</label>
		            <div class="controls">
                	{{ field }}
		            </div>
			</div>
		{% endfor %}
     		<p><button type="button" class="btn btn-primary" onClick="getRecommendedCourses()">Submit</button>
	   </form>	
	</div>-->
	<a onClick="chooseAddCourse()">Create your own course</a>

  </div>
	{% endblock %}
</div>

<div class="modal hide" id="showRecommendedCoursesModal">
<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal">x</button>
	<h3> Recommended Courses </h3>
</div>

<div class="modal-body" >
	<div id="showRecommendedCourses">
	</div>
</div>

</div>

<div class="modal hide" id="addCourse">
	{% block addCourse %} 
 <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">x</button>
    <h3>Add a course</h3>
  </div>
  <div class="modal-body">
		{{ courseAddForm.non_field_errors }}
    <form method="post" action="{% url Courses.views.addCourse %}" id="addNewCourse">
	{% csrf_token %}
	{% for field in courseAddForm %}
        <div class="control-group">
        {{ field.errors.as_text }}
         <label class="control-label">{{ field.label_tag }}</label>
            <div class="controls">
                {{ field }}
            </div>
   		</div>
    {% endfor %}
     <p><button type="button" class="btn btn-primary" onClick="addNewCourse()">Submit</button>
		<button type="button" data-dismiss="modal" class="btn btn-primary">Cancel</button>
<!--Department,Subject,Year-->
      </p>
    </form>
  </div>
	{% endblock %}
</div>

{% include "course_view_standards.html" %}

<script type="text/javascript"> 

	function resetForm($form) {
		$form.find('input:text, input:password, input:file, select, textarea').val('');
		$form.find('input:radio, input:checkbox')
			.removeAttr('checked').removeAttr('selected');
	}

  function addNewCourse() {
		var formString = $("#addNewCourse").serialize()
		$.ajax({
			data : formString,
			dataType : "html",
			type: "POST",
			url: {% url Courses.views.addCourse %},
			success: function(data) {
				if (data != "") {
					var obj = jQuery.parseJSON(data);
					if (obj.success == "1") {
						$("#addCourse").modal("hide");
						$("#showGroupStandards").html(obj.response);		
						$("#showGroupStandards").modal("show");
					}
					else {
						$("#addCourse").html(obj.response);
						$("#addCourse").modal("show");
					}
				}
			}
		});
	}

	function chooseNewCourse1() {
		$("#chooseNewCourse").modal("show");
	}
	
	function getRecommendedCourses() {
		var formString = $("#getRecommendedCoursesForm").serialize()
		$.ajax( {
			data: formString,
			dataType: "html",
			type: "POST",
			url: {% url Courses.views.recommendCourses %},
			success: function(data) {
				if (data!= "") {
					var obj = jQuery.parseJSON(data);
					if (obj.success == "1") {
						$("#chooseNewCourse").modal("hide");
						$("#showRecommendedCourses").html(obj.response);
						$("#showRecommendedCoursesModal").modal("show");
					}
				}
			}				

		});
	}

	function chooseAddCourse() {
		$("#chooseNewCourse").modal("hide");
		$("#addCourse").modal("show");
	}

	function hideAddCourse() {
		$("#addCourse").modal("hide");
	}

	function hideRecommendCourse() {
		$("#recommendCourse").modal("hide");
	}

	function hideChooseNewCourse() {
		$("#chooseNewCourse").modal("hide");
	}

	function createCourseFromStandard(id){

		$.ajax({
			data: {standard_id:id},
			dataType:'html',
			type: "POST", // GET or POST
      url: {% url Courses.views.createCourseFromStandard %}, // the file to call
			success : function(data){
					$('#addCourse').html(data);
					$('#addCourse').modal('show')		
       }
		});
	}

</script>
