{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <title>LessnLab - Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/static/bootstrap.css" rel="stylesheet" media="screen">
	
	<style>
	
		   .navtitle{
		   		  padding-left: 10px;
				  color: efefef;
		    }
			
			.course {
					padding: 10px;
					text-align:left;
					background-color: 
			 }
			 
			 .profileImage{
			 
			 	height: 60px;
			 	width: 60px;
			 }
			 
			 .profileImageBox {
			 	
			 	padding-left:10px;
			 	padding-top:10px;
			 
			 }
			 
			 div #middlecontent{
				height: 100%;
			 }
			 
			 div #leftnav {
			 
				border-right-width:1px;
				border-right-style:solid;
				border-right-color:#c8c8c8;
				height: 100%;
			
			 }
			 
			 div #rightnav {
			 
			 	border-left-width:1px;
				border-left-style:solid;
				border-left-color:#c8c8c8;
				padding-right: 10px;
				padding-left:10px;
			 	height: 100%;
			 }
			 
			  .unitbox {
			 	
			 	height:20%px;
			 	width: 100%;
			 	padding-top: 10px;
			 	padding-bottom: 30px;
			 	vertical-align: middle;
			 	font-size: 10pt;
			 	text-align: justify;
			 	border-top-width: 1px;
			 	border-top-color: #c8c8c8;
			 	border-top-style: dotted;
			 }
			 
			 .footer {
			 
			 	background-color: #efefef;
			 	border-top-width:1px;
				border-top-style:solid;
				border-top-color:#c8c8c8;
				height: 50px;
				padding: 10px;
				vertical-align: middle;
				
			 }
			 
			 .rightnavheader{
			 	
			 	text-align: center;
			 
			 }
			 .rightnavsubheader {
			 
			 	padding-top:10px;
			 	height: 50px;
			 	
			 }
			 
			 .rightnavtext {
			 	
			 	font-size: 10pt;
			 
			 }
			 	 
	</style>
	
	<script type="text/javascript"> <!-- scroll jquery -->
		function goToByScroll(id){
 			$('html,body').animate({scrollTop: $("#"+id).offset().top},1000);
	}
	</script>
	
  </head>
  <body style="padding-top:40px;">
  <div class="navbar navbar-fixed-top navcolor">
  <div class="navbar-inner">
  	   <div class="row-fluid">
	   		<div class="span7">
				 <h4><a href="template.html" class="navtitle">Lesson Lab</a></h4>
		  	</div>
			<div class="span5">
				 <ul class="nav pull-right">
				 <li class="dropdown">  
      				 	 <a href="#"  
          				 class="dropdown-toggle"  
          				 data-toggle="dropdown">  
          				 <i class="icon-user"></i> {{username}}
          				 <b class="caret"></b>  
      					 </a>  
     			<ul class="dropdown-menu">
      				<li><a href="#">Profile</a></li> 
					<li><a href="#">Network</a></li>
      				<li><a href="#">Settings</a></li>
      				<li><a href="#">Logout</a></li>
    			</ul>  
   					  </li>
		 <li class="dropdown">  
      				 	 <a href="#"  
          				 class="dropdown-toggle"  
          				 data-toggle="dropdown">  
          				 <i class="icon-plus"></i> Add
          				 <b class="caret"></b>  
      					 </a>  
     			<ul class="dropdown-menu">
      				<li><a href="#addCourse" data-toggle="modal">Course</a></li> 
					<li><a href="#">Unit</a></li>
      				<li><a href="#">Lesson</a></li>
      				<li><a href="#">Student</a></li>
    			</ul>  
   					  </li>
		</ul> 
  	</div>
</div>
</div>
</div>
<!-- left hand secondary nav -->
<div class="row-fluid">
<div class="span2" id="leftnav">
<div class="row-fluid">
<div class="span8 profileImageBox">
	<img class="img-rounded profileImage" src="/static/{{username}}.jpg"/>
	<h5>{{fullname}}</h5>
</div>	
</div>
<div class="row-fluid">
<ul class="nav nav-list">
  <li class="nav-header">Favorites</li>
  <li><a href="template.html">Home</a></li>
</ul>
<ul class="nav nav-list">
  <li class="nav-header">Courses</li>
  <li class="active"><a href="#">American & The World</a></li>
  <li><a href="#">AP U.S. History</a></li>
  <li><a href="#">AP European History</a></li>
</ul>
<ul class="nav nav-list">
  <li class="nav-header">Tools</li>
  <li><a href="#">Manage Students</a></li>
  <li><a href="#">Manage Courses</a></li>
  <li><a href="#addCourse" data-toggle="modal">Add Course</a></li>
</ul>
</div>
</div>

<div class="modal hide" id="addCourse">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">x</button>
    <h3>Add a course</h3>
  </div>
  <div class="modal-body">
    <form method="post" action="{% url LessonPlanner.views.addCourse %}" name="login_form">
	{% csrf_token %}
	{% for field in courseAddForm %}
        <div class="control-group">
        {{ field.errors.as_text }}
         <label class="control-label">{{ field.label_tag }}</label>
            <div class="controls">
                {{ field }}
            </div>
        </div>
    {% endfor %}
<!--      <p><input type="name" class="span3" name="eid" id="courseName" placeholder="Course Name"></p>
      <p><input type="description" class="span3" name="passwd" placeholder="Description"></p>-->
     <p><button type="submit" class="btn btn-primary">Submit</button>
	<button type="button" data-dismiss="modal" class="btn btn-primary">Cancel</button>

<!--Department,Subject,Year-->
      </p>
    </form>
  </div>
<!--  <div class="modal-footer">
    <a href="#" class="btn btn-primary">Submit</a>
    <a href="#" class="btn btn-primary">Cancel</a>
  </div>-->
</div>



<!-- Middle column main content -->
<div class="span7" id="middlecontent">
	<div class="row-fluid">
	 <div class="unitbox" id="u1">
      			  <h4>Unit 1 - Civil War</h4>
				  <p><a href="lesson.html">15 Lessons</a> - Taught over 4 weeks</p>
				  <p><i class="icon-tags"></i> <span class="label label-info"> Civil War</span> <span class="label label-info">Cotton</span></p>
				  <p><b>Description:</b> "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"</p>
    			  <button class="btn btn-primary btn-small" type="button">View Unit</button>
    			  <button class="btn btn-primary btn-small" type="button">Edit Unit</button>
    			  <button class="btn btn-primary btn-small" type="button">Delete Unit</button>
  			
	</div>
	
	  <div class="unitbox" id="u2">
      			  <h4>Unit 2 - American Revolution</h4>
				  <p><a href="lesson.html">12 Lessons</a> - Taught over 3 weeks</p>
				  <p><i class="icon-tags"></i> <span class="label label-info">Civil War</span> <span class="label label-info">Cotton</span></p>
				  <p><b>Description:</b> "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"</p>
    			  <button class="btn btn-primary btn-small" type="button">View Unit</button>
    			  <button class="btn btn-primary btn-small" type="button">Edit Unit</button>
    			  <button class="btn btn-primary btn-small" type="button">Delete Unit</button>
	</div>
	  <div class="unitbox" id="u3">
      			  <h4>Unit 3 - World War 1</h4>
				  <p><a href="lesson.html">13 Lessons</a> - Taught over 4 weeks</p>
				  <p><i class="icon-tags"></i> <span class="label label-info">Civil War</span> <span class="label label-info">Cotton</span></p>
				  <p><b>Description:</b> "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"</p>
    			  <button class="btn btn-primary btn-small" type="button">View Unit</button>
    			  <button class="btn btn-primary btn-small" type="button">Edit Unit</button>
    			  <button class="btn btn-primary btn-small" type="button">Delete Unit</button>
	</div>
	 <div class="unitbox" id ="u4">
      			  <h4>Unit 4 - World War 2</h4>
				  <p><a href="lesson.html">18 Lessons</a> - Taught over 4 weeks</p>
				  <p><i class="icon-tags"></i> <span class="label label-info">Civil War</span> <span class="label label-info">Cotton</span></p>
				  <p><b>Description:</b> "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"</p>
    			  <button class="btn btn-primary btn-small" type="button">View Unit</button>
    			  <button class="btn btn-primary btn-small" type="button">Edit Unit</button>
    			  <button class="btn btn-primary btn-small" type="button">Delete Unit</button>
	</div>
	 <div class="unitbox" id ="u5">
      			  <h4>Unit 5 - The Cold War</h4>
				  <p><a href="lesson.html">15 Lessons</a> - Taught over 4 weeks</p>
				  <p><i class="icon-tags"></i> <span class="label label-info">Civil War</span> <span class="label label-info">Cotton</span></p>
				  <p><b>Description:</b> "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"</p>
    			  <button class="btn btn-primary btn-small" type="button">View Unit</button>
    			  <button class="btn btn-primary btn-small" type="button">Edit Unit</button>
    			  <button class="btn btn-primary btn-small" type="button">Delete Unit</button>
	</div>
	</div>
</div>
<div class="span3" id="rightnav">
<div class="row-fluid">
	<div class="span12 rightnavsubheader">
		<h5>America & The World - Unit Plan</h5>
	</div>
	<div class="span12">
		<ul>
			<li><a href="javascript:void(0)" onclick="goToByScroll('u1')">Unit 1</a> - Civil War</li>
			<li><a href="javascript:void(0)" onclick="goToByScroll('u2')">Unit 2</a> - American Revolution</li>
			<li><a href="javascript:void(0)" onclick="goToByScroll('u3')">Unit 3</a> - World War 1</li>
			<li><a href="javascript:void(0)" onclick="goToByScroll('u4')">Unit 4</a> - World War 2</li>
			<li><a href="javascript:void(0)" onclick="goToByScroll('u5')">Unit 5</a> - The Cold War</li>
			<li><a href="#">Add Unit</a></li>
		</ul>
	</div>
</div>
<div class="row-fluid">
	<div class="span12 rightnavsubheader">
		<h5>About America & The World</h5>
	</div>
	<div class="span12 rightnavtext">
	<p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"</p>
	</div>
</div>
</div>
</div>
<div class="row-fluid footer">
	<div class="row-fluid" style="text-align:center; height: 50px; padding-bottom: 20px; background-color:#efefef; vertical-align: middle;">
		<small><p style="padding-top: 10px;">Created by <a href="#">LessnLab Inc.</a>, Copyright 2013. All Rights Reserved.</p></small>
	</div>
</div>
<!-- Javascript -->
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/static/bootstrap.js"></script>
  </body>
</html>
