{% load staticfiles %}
{% block content %}
<!DOCTYPE html>
<html lang="en" style="height:100%">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/static/bootstrap.css" rel="stylesheet">
  	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  	<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
    <link href="/static/landingstyles.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->

	<style>
	
		#subheader {
		
			color: #999999;
		
		}
		
		#teamphotos {
		
			height: 140px;
			width: 140px;
		}
		
	</style> 
	
	<script type="text/javascript">
	
		function goToByScroll(id){
	 			$('html,body').animate({scrollTop: $("#"+id).offset().top - 50},1000);
			}
			
	</script>
	
  </head>
  <body>
  <div class="page-header row">
  	<div class="span2 offset2" id="logoborder">
    	<h4>LessnLab</h4>
    </div>
    <div class="span1 navlinks">
    	<h5><a href="javascript:void(0)" onclick="goToByScroll('product')">Product</a></h5>   
    </div>
    <div class="span1 navlinks">
    	<h5><a href="javascript:void(0)" onclick="goToByScroll('team')">Team</a></h5>
    </div>
     <div class="span1 navlinks">
    	<h5><a href="javascript:void(0)" onclick="goToByScroll('contact')">Learn</a></h5>
    </div>
    <div class="span1 navlinks" id="loginbutton">
    	<a class="btn btn-success btn-small" type="button" href="#login" data-toggle="modal">Login</a>
    </div>
   <!-- <div class="span2 offset7 navlinks" id="registerbutton">
    	<a class="btn btn-primary btn-small" type="button" href="#register" data-toggle="modal">Sign Up</a>
    </div> -->
  </div>
  <div class="container" id="body">
    <div class="row" id="fixed_header">
  		<div class="span6 offset2">		
  				<h2>Welcome to LessnLab </h2>
  				<h3 id="subheader">We Think We're Onto Something</h3>
  				<a href="javascript:void(0)" onclick="goToByScroll('product')" class="btn btn-success btn-large">Find Out What</a>
  		</div> 
  		<div class="span6">
  		</div>
  	</div> 
	<div class="row bodycontent" id="product">
			<div class="row secondheader">
				<div class="span12 offset2">
					<h3>We're Closing the Loop In Education</h3>
				</div>
			</div>
			<div class="row centercontent modulecontent">
			<div class="span4 separate">
				<p class="moduleheader">For Teachers</p>
				<hr/>
				<img src="static/science.png">
				<hr/>
				<p>Discover, create, deliver and assess your lessons from within our intelligent ecosystem</p>
			</div>
			<div class="span4 separate">
				<p class="moduleheader">For Parents<p>
				<hr/>
				<img src="static/calculator.png">
				<hr/>
				<p>Keep track of what your child learns and how she performs, whenever you want</p>
			</div>
			<div class="span4 separate">
				<p class="moduleheader">For Schools</p>
				<hr/>
				<img src="static/mortarboard.png">
				<hr/>
				<p>Monitor your school's, students' and teachers' performance in real-time</p>
			</div>
			</div>
		</div>
				
		<div class="row bodycontent alt" id="team">
			<div class="row secondheader">
				<div class="span12 offset2">
					<h3>Founders</h3>
				</div>
			</div>
			<div class="row centercontent modulecontent">
			<div class="span4 separate">
				<p class="moduleheader">Zain Pasha</p>
				<h4>Co-Founder & CEO</h4>
				<hr/>
				<img class="img-rounded" id="teamphotos" src="static/zheadshot.jpg">
				<hr/>
				<p>A former teacher, Zain saw an opportunity to simplify teachers' lives and came up with LessnLab. He is an honors graduate of Cornell University and does anything and everything needed at LessnLab.</p>
			</div>
			<div class="span4 separate">
				<p class="moduleheader">Deepak Bapat<p>
				<h4>Co-Founder</h4>
				<hr/>
				<img class="img-rounded" id="teamphotos" src="static/dheadshot.jpg">
				<hr/>
				<p>Deepak is a back-end wiz and loves solving complex and difficult problems. He has a Master of Engineering in Computer Science from Cornell University.</p>
			</div>
			<div class="span4 separate">
				<p class="moduleheader">Aman Nalavade</p>
				<h4>Co-Founder</h4>
				<hr/>
				<img class="img-rounded" id="teamphotos" src="static/aheadshot.png">
				<hr/>
				<p>Aman can do it all, front-end, back-end and everything in between. He has a Computer Science degree from The University of Pennsylvania.</p>
			</div>
			</div>
			<div class="row secondheader">
				<div class="span12 offset2">
					<h3>Advisors</h3>
				</div>
			</div>
			<div class="row centercontent modulecontent">
			<div class="span4 separate">
				<p class="moduleheader">Asim Pasha</p>
				<h4>Co-Founder & Managing Partner</h4> 
				<p>Sporting Innovations</p>
				<hr/>
				<img class="img-rounded" id="teamphotos" src="static/asim.jpg">
			</div>
			<div class="span4 separate">
				<p class="moduleheader">Clay Patterson<p>
				<h4>VP & Managing Director</h4>
				<p>Cerner Capital</p>
				<hr/>
				<img class="img-rounded" id="teamphotos" src="static/clay.jpg">
			</div>
			<div class="span4 separate">
				<p class="moduleheader">Kurt Ruf</p>
				<h4>Partner</h4>
				<p>Ruf Strategic Solutions</p>
				<hr/>
				<img class="img-rounded" id="teamphotos" src="static/kurt.jpg">
			</div>
			</div>
		</div>
		<div class="row bodycontent" id="contact">
			<div class="row centercontent">
			<div class="span12 separate">
				<h3>Want to Learn More?</h3>
				<hr/>
					<div id="mc_embed_signup">
						<form action="http://herokuapp.us7.list-manage.com/subscribe/post?u=fe67ce615729ef43f3295d087&amp;id=f28144cb70" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
							<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" style=" width: 400px; height: 50px; font-size: 12pt; background-color: whitesmoke; text-align:center;" placeholder="Enter Your Email Address" required>
							<div class="clear"><input type="submit" class="btn btn-success btn-large" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
						</form>
					</div>
			</div>
		</div>
  	</div>
  	<!-- Landing page Footer -->
  	<div class="footer text-center">
        <div class="row">
        	<div class="span3 separate offset2" id="copyright">
        		Copyright 2013. LessnLab Inc.
        	</div>
        	<div class="span1 separate">
        		<a href="http://www.twitter.com/lessnlabs">Twitter</a>
        	</div>
        	<div class="span1 separate">
        		<a href="#"></a>
        	</div>
        </div>
    </div>
	</div>
	
	<!-- Modals Start -->
	<!-- login modal -->
        {% include "login_modal.html" %}
<!-- teacher register modal -->
		{% include "teacher_registration_modal.html" %}
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/bootstrap.js"></script>
  </body>
</html>


{% endblock %}
