{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" style="height:100%">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/static/bootstrap.css" rel="stylesheet">
	<script src="/static/jQuery.jQTubeUtil.js"></script>
  	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  	<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
    <link href="/static/landingstyles.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->

	<style>
	
		#subheader {
		
			color: #c8c8c8;
		
		}
		
		#teamphotos {
		
			height: 140px;
			width: 140px;
			
		
		}
	
	
	</style> 
	<script type="text/javascript">
	
		function goToByScroll(id){
	 			$('html,body').animate({scrollTop: $("#"+id).offset().top - 50},1000);
			}
			
	</script>
  </head>
  <body>
  <div class="page-header row">
  	<div class="span2 offset2" id="logoborder">
    	<h4>LessnLab</h4>
    </div>
    <div class="span1 navlinks">
    	<h5><a href="javascript:void(0)" onclick="goToByScroll('product')">Product</a></h5>   
    </div>
    <div class="span1 navlinks">
    	<h5><a href="javascript:void(0)" onclick="goToByScroll('team')">Team</a></h5>
    </div>
     <div class="span1 navlinks">
    	<h5><a href="javascript:void(0)" onclick="goToByScroll('contact')">Contact</a></h5>
    </div>
    <div class="span2 offset8 navlinks" id="loginbutton">
    	<a href="{% url accounts.views.login_user %}"><button class="btn-primary">Log In</button></a>
    </div>
  </div>
  <div class="container" id="body">
    <div class="row" id="fixed_header">
  		<div class="span6 offset2">		
  				<h2>Welcome to LessnLab </h2>
  				<h3 id="subheader">We're Closing the Loop In Education</h3>
  				<button class="btn-success btn-large">Find Out How</button>
  		</div> 
  		<div class="span6">
  		</div>
  	</div> 
	<div class="row bodycontent" id="product">
			<div class="row secondheader">
				<div class="span12 offset2">
					<h3>We Think We're Onto Something</h3>
				</div>
			</div>
			<div class="row centercontent modulecontent">
			<div class="span4 separate">
				<p class="moduleheader">For Teachers</p>
				<hr/>
				<img src="static/science.png">
				<hr/>
				<p>Create, deliver and assess your lessons from within our intelligent ecosystem</p>
			</div>
			<div class="span4 separate">
				<p class="moduleheader">For Parents<p>
				<hr/>
				<img src="static/calculator.png">
				<hr/>
				<p>Keep track of what your student learns and how she performs when you want</p>
			</div>
			<div class="span4 separate">
				<p class="moduleheader">For Schools</p>
				<hr/>
				<img src="static/mortarboard.png">
				<hr/>
				<p>Get on-demand insights and guidance on your teachers' and students' performance</p>
			</div>
			</div>
		</div>
		<div class="row bodycontent alt" id="team">
			<div class="row secondheader">
				<div class="span12 offset2">
					<h3>Here is the Team That's Building LessnLab</h3>
				</div>
			</div>
			<div class="row centercontent modulecontent">
			<div class="span4 separate">
				<p class="moduleheader">Zain</p>
				<h4>Co-Founder</h4>
				<hr/>
				<img class="img-rounded" id="teamphotos" src="static/zheadshot.jpg">
				<hr/>
				<p>As a former teacher, Zain saw an opportunity to simplify teachers' lives and came up with LessnLab. He is a graduate of Cornell University.</p>
			</div>
			<div class="span4 separate">
				<p class="moduleheader">Deepak<p>
				<h4>Co-Founder</h4>
				<hr/>
				<img class="img-rounded" id="teamphotos" src="static/dheadshot.jpg">
				<hr/>
				<p>Deepak is a back-end wiz and loves solving complex and difficult problems. He has a Masters in Computer Science from Cornell University.</p>
			</div>
			<div class="span4 separate">
				<p class="moduleheader">Aman</p>
				<h4>Co-Founder</h4>
				<hr/>
				<img class="img-rounded" id="teamphotos" src="static/aheadshot.png">
				<hr/>
				<p>Aman can do it all, front-end, back-end and everything in the middle. He has a Computer Science degree from The University of Pennsylvania.</p>
			</div>
			</div>
		</div>
		<div class="row bodycontent" id="contact">
			<div class="row centercontent">
			<div class="span12 separate">
				<h3>Want to Learn More?</h3>
				<hr/>
				<a href="mailto:lessnlabs@gmail.com"><button class="btn-success btn-large">Contact Us</button></a>
			</div>
			</div>
		</div>
  	</div>
  	<div class="footer text-center">
        <div class="row">
        	<div class="span3 separate offset2" id="copyright">
        		Copyright 2013. LessnLab Inc.
        	</div>
        	<div class="span1 separate">
        		<a href="#">Press</a>
        	</div>
        	<div class="span1 separate">
        		<a href="#">Terms</a>
        	</div>
        </div>
    </div>
	</div>
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/bootstrap.js"></script>
  </body>
</html>
