{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" style="height:100%">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/static/bootstrap.css" rel="stylesheet">
	<script src="/static/jQuery.jQTubeUtil.js"></script>
  	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  	<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
    <link href="/static/landingstyles.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->

	<style>
	
		#subheader {
		
			color: #c8c8c8;
		
		}
		
		#teamphotos {
		
			height: 140px;
			width: 140px;
			
		
		}
	
	
	</style> 
	<script type="text/javascript">
	
		function goToByScroll(id){
	 			$('html,body').animate({scrollTop: $("#"+id).offset().top - 50},1000);
			}
			
	</script>
  </head>
  <body>
  <div class="page-header row">
  	<div class="span2 offset2" id="logoborder">
    	<h4>LessnLab</h4>
    </div>
    <div class="span1 navlinks">
    	<h5><a href="javascript:void(0)" onclick="goToByScroll('product')">Product</a></h5>   
    </div>
    <div class="span1 navlinks">
    	<h5><a href="javascript:void(0)" onclick="goToByScroll('team')">Team</a></h5>
    </div>
     <div class="span1 navlinks">
    	<h5><a href="javascript:void(0)" onclick="goToByScroll('contact')">Contact</a></h5>
    </div>
    <div class="span2 offset7 navlinks" id="loginbutton">
    	<a class="btn btn-success btn-small" type="button" href="#login" data-toggle="modal">Login</a>
    </div>
    <div class="span2 offset7 navlinks" id="registerbutton">
    	<a class="btn btn-primary btn-small" type="button" href="#register" data-toggle="modal">Sign Up</a>
    </div>
  </div>
  <div class="container" id="body">
    <div class="row" id="fixed_header">
  		<div class="span6 offset2">		
  				<h2>Welcome to LessnLab </h2>
  				<h3 id="subheader">We Think We're Onto Something</h3>
  				<a href="javascript:void(0)" onclick="goToByScroll('product')" class="btn btn-success btn-large">Find Out What</a>
  		</div> 
  		<div class="span6">
  		</div>
  	</div> 
	<div class="row bodycontent" id="product">
			<div class="row secondheader">
				<div class="span12 offset2">
					<h3>We're Closing the Loop In Education</h3>
				</div>
			</div>
			<div class="row centercontent modulecontent">
			<div class="span4 separate">
				<p class="moduleheader">For Teachers</p>
				<hr/>
				<img src="static/science.png">
				<hr/>
				<p>Create, deliver and assess your lessons from within our intelligent ecosystem</p>
			</div>
			<div class="span4 separate">
				<p class="moduleheader">For Parents<p>
				<hr/>
				<img src="static/calculator.png">
				<hr/>
				<p>Keep track of what your student learns and how she performs when you want</p>
			</div>
			<div class="span4 separate">
				<p class="moduleheader">For Schools</p>
				<hr/>
				<img src="static/mortarboard.png">
				<hr/>
				<p>Get on-demand insights and guidance on your teachers' and students' performance</p>
			</div>
			</div>
		</div>
				
		<div class="row bodycontent alt" id="team">
			<div class="row secondheader">
				<div class="span12 offset2">
					<h3>Meet Our Team</h3>
				</div>
			</div>
			<div class="row centercontent modulecontent">
			<div class="span4 separate">
				<p class="moduleheader">Zain</p>
				<h4>Co-Founder</h4>
				<hr/>
				<img class="img-rounded" id="teamphotos" src="static/zheadshot.jpg">
				<hr/>
				<p>As a former teacher, Zain saw an opportunity to simplify teachers' lives and came up with LessnLab. He is a graduate of Cornell University.</p>
			</div>
			<div class="span4 separate">
				<p class="moduleheader">Deepak<p>
				<h4>Co-Founder</h4>
				<hr/>
				<img class="img-rounded" id="teamphotos" src="static/dheadshot.jpg">
				<hr/>
				<p>Deepak is a back-end wiz and loves solving complex and difficult problems. He has a Masters in Computer Science from Cornell University.</p>
			</div>
			<div class="span4 separate">
				<p class="moduleheader">Aman</p>
				<h4>Co-Founder</h4>
				<hr/>
				<img class="img-rounded" id="teamphotos" src="static/aheadshot.png">
				<hr/>
				<p>Aman can do it all, front-end, back-end and everything in the middle. He has a Computer Science degree from The University of Pennsylvania.</p>
			</div>
			</div>
		</div>
		<div class="row bodycontent" id="contact">
			<div class="row centercontent">
			<div class="span12 separate">
				<h3>Want to Learn More?</h3>
				<hr/>
					<div id="mc_embed_signup">
						<form action="http://herokuapp.us7.list-manage.com/subscribe/post?u=fe67ce615729ef43f3295d087&amp;id=f28144cb70" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
							<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" style=" width: 400px; height: 50px; font-size: 12pt; background-color: whitesmoke; text-align:center;" placeholder="Enter Your Email Address" required>
							<div class="clear"><input type="submit" class="btn btn-success btn-large" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
						</form>
					</div>
			</div>
		</div>
  	</div>
  	<div class="footer text-center">
        <div class="row">
        	<div class="span3 separate offset2" id="copyright">
        		Copyright 2013. LessnLab Inc.
        	</div>
        	<div class="span1 separate">
        		<a href="#">Press</a>
        	</div>
        	<div class="span1 separate">
        		<a href="#">Terms</a>
        	</div>
        </div>
    </div>
	</div>
	<!-- login modal -->
	<div class="modal hide fade bottomborder" id="login">
  	<div class="modal-header modalheaderspacing">
  	  <button type="button" class="close" data-dismiss="modal">x</button>
  	  <p class="modaltitle">Log in to your LessnLab Account</p>
  	</div>
  <div class="modal-body loginmodal">
    {% csrf_token %}
    {{ errors }}
      <form class="loginform" method="post" action="{% url accounts.views.login_user %}"> {% csrf_token %}      
        <input type="text" class="logintextbox input-block-level" style="height: 45px; font-size: 12pt; background-color: whitesmoke;" name="username" placeholder="Username" value={{ username }}>
        <input type="password" class="logintextbox input-block-level" style="height: 45px; font-size: 12pt; background-color: whitesmoke;" name="password" placeholder="Password">
        <div class="row loginlinks">
        	<div class="span2" style="padding-top: 7px;">
        		<a href="{% url auth_password_reset %}">Forgot Password?</a>
        	</div>
        	<div class="span2">
            	<button class="btn btn-success" type="submit">Login</button>
            </div>
        </div>
        <hr/>
	<div class="loginlinks">
		<p class="modaltitlelevel2">Don't Have An Account? Create One</p>
           <a class="btn btn-primary btn-small" href="{% url accounts.views.registerTeacher%}">Teacher</a>
           <span> | </span>
	   	 	<a class="btn btn-primary btn-small" href="{% url accounts.views.registerStudent%}">Student</a>
       </div>
      </form>
  </div>
</div>
<!-- teacher register modal -->
<div class="modal hide fade bottomborder" id="register">
  	<div class="modal-header modalheaderspacing">
  	  <button type="button" class="close" data-dismiss="modal">x</button>
  	  <p class="modaltitle">Create Your LessnLab Account</p>
  	</div>
  <div class="modal-body">
    <form action="" method="post">
    	<div class="container register">
    		<div class="row">
    			<div class="span3"> 
    				<input type="text" class="logintextbox input-block-level" style="height: 45px; font-size: 12pt; background-color: whitesmoke;" name="first_name" placeholder="First Name">
    			</div>
    			<div class="span3"> 
    				<input type="text" class="logintextbox input-block-level" style="height: 45px; font-size: 12pt; background-color: whitesmoke;" name="last_name" placeholder="Last Name">
    			</div>
    		</div>
    		<div class="row">
    			<div class="span3">
    				<input type="email" class="logintextbox input-block-level" style="height: 45px; font-size: 12pt; background-color: whitesmoke;" name="email" placeholder="Email Address">
    			</div>
    			<div class="span3" style="padding-top: 7px;">
    				<select name="school_state">
                    <option selected value="">Choose Your Teaching State</option>
					<option value="AL">Alabama</option>
					<option value="AK">Alaska</option>
					<option value="AZ">Arizona</option>
<option value="AR">Arkansas</option>
<option value="CA">California</option>
<option value="CO">Colorado</option>
<option value="CT">Connecticut</option>
<option value="DE">Delaware</option>
<option value="FL">Florida</option>
<option value="GA">Georgia</option>
<option value="HI">Hawaii</option>
<option value="ID">Idaho</option>
<option value="IL">Illinois</option>
<option value="IN">Indiana</option>
<option value="IA">Iowa</option>
<option value="KS">Kansas</option>
<option value="KY">Kentucky</option>
<option value="LA">Louisiana</option>
<option value="ME">Maine</option>
<option value="MD">Maryland</option>
<option value="MA">Massachusetts</option>
<option value="MI">Michigan</option>
<option value="MN">Minnesota</option>
<option value="MS">Mississippi</option>
<option value="MO">Missouri</option>
<option value="MT">Montana</option>
<option value="NE">Nebraska</option>
<option value="NV">Nevada</option>
<option value="NH">New Hampshire</option>
<option value="NJ">New Jersey</option>
<option value="NM">New Mexico</option>
<option value="NY">New York</option>
<option value="NC">North Carolina</option>
<option value="ND">North Dakota</option>
<option value="OH">Ohio</option>
<option value="OK">Oklahoma</option>
<option value="OR">Oregon</option>
<option value="PA">Pennsylvania</option>
<option value="RI">Rhode Island</option>
<option value="SC">South Carolina</option>
<option value="SD">South Dakota</option>
<option value="TN">Tennessee</option>
<option value="TX">Texas</option>
<option value="UT">Utah</option>
<option value="VT">Vermont</option>
<option value="VA">Virginia</option>
<option value="WA">Washington</option>
<option value="WV">West Virginia</option>
<option value="WI">Wisconsin</option>
<option value="WY">Wyoming</option>
                </select>
    			</div>
    		</div>
    		<div class="row">
    			<div class="span6">
    				<input type="text" class="logintextbox input-block-level" style="height: 45px; font-size: 12pt; background-color: whitesmoke;" name="username" placeholder="Enter a Username">
    				<input typ="hidden" name="user_type" value="Teacher">
    			</div>
    		</div>
    		<div class="row">
    			<div class="span6">
    				<input type="password" class="logintextbox input-block-level" style="height: 45px; font-size: 12pt; background-color: whitesmoke;" name="password1" placeholder="Enter A Password">
    			</div>
    		</div>
    		<div class="row">
    			<div class="span6">
    				<input type="password" class="logintextbox input-block-level" style="height: 45px; font-size: 12pt; background-color: whitesmoke;" name="password2" placeholder="Confirm Password">
    			</div>
    		</div>
    		<div class="row">
    			<div class="span6">
    				<input type="text" class="logintextbox input-block-level" style="height: 45px; font-size: 12pt; background-color: whitesmoke;" name="teacher_code" placeholder="Registration Code">
    			</div>
    		</div>	
    {% csrf_token %}
    <!-- username, email, password1, password2, first_name, last_name, school_state, teacher_code -->
    		<hr/>
    		<div class="row">
    			<div class="span1 offset2" style="margin-right: 5px;">
                	<button type="submit" class="btn btn-primary">Register</input>
            	</div>
            	<div class="span1">
                	<button type="reset" class="btn btn-primary">Cancel</input>
                </div>
            </div>
        </div>
    </form>
  </div>
</div>
	
	
	
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/bootstrap.js"></script>
  </body>
</html>
