<script>
function imgError(image){
    image.onerror = "";
    image.src = "/static/defaultPic.jpg";
    return true;
}
	
</script>

<div class="span2" id="leftnav">
	<div class="row" style="padding-top: 5px;">
		<ul class="nav nav-list">
				<li class="nav-header">My Courses</li>
				{% for course in userCourses %}  
				<li><a href="/units/?course_id={{ course.id }}" rel="tooltip" data-placement="bottom" title="Course Description: {{ course.name }}" >{{ course.name }}</a></li>
				{% endfor %}
		</ul>
		<ul class="nav nav-list">
				<li class="nav-header">Tools</li>
				<li><a href="/standardsSearch/">Standards Search</a></li>
  				<li><a href="/manageStudents/">Manage Students</a></li>
		</ul>
	</div>
</div>
	

