<script>
function imgError(image){
    image.onerror = "";
    image.src = "/static/defaultPic.jpg";
    return true;
}
</script>

<div class="span3" id="leftnav">
	<div class="row" style="padding-top: 15px;">
		<div class="span1">
			<img class="img-rounded profileImage" onerror="imgError(this);" src="/static/{{username}}.jpg"/>
		</div>
		<div class="span2" style="padding-top: 25px;">
			<h5>{{fullname}}</h5>
		</div>	
	</div>
	<div class="row" style="padding-top: 5px;">
		<ul class="nav nav-list">
				<li class="nav-header">Favorites</li>
				<li><a href="/courses/">Home</a></li>
				<li><a href="/standardsSearch/">Standards Search</a></li>
  				<li><a href="/manageStudents/">Manage Students</a></li>
		</ul>
		<ul class="nav nav-list">
				<li class="nav-header">Courses</li>
				{% for course in userCourses %}  
				<li><a href="/units/?course_id={{ course.id }}">{{ course.subject }}</a></li>
				{% endfor %}
		</ul>
	</div>
</div>
	

