{% extends "base-3col.html" %}
{% load staticfiles %}

<!DOCTYPE html>
{% block content %}

<!-- Middle column main content -->
{% if userLessons|length == 0 %}
<div class="container alertbox" style="width: 100%;">
	<div class="alert alert-info">
		<p>There aren't any lessons in {{unit.name}} yet. <a href="#addLesson" data-toggle="modal">Add one.</a></p>
	</div>
</div>
{% else %} 	
{% for lesson in userLessons %}
	<!-- <div class="container coursebox" width="100%" id="{{ lesson.id }}">
				  <p><a href="/lessonPlanner/?lesson_id={{ lesson.id }}"><h4>{{ lesson.name }}</h4></a></p>
				<p><b>Description: </b> {{ lesson.description }} </p>			 
				
		<p><b>Standards for this Lesson: </b> 
	<br>	{% for standard in lesson.standards.all %}
			{{ standard.description }}<br>
		{% endfor %}
		<p><b>Objectives for this Lesson: </b> 
	<br>	{% for objective in lesson.objectives.all %}
			{{ objective.description }}<br>
		{% endfor %}
    <br><br>
	<a class="btn btn-primary btn-small" type="button" href="?lesson_id={{ lesson.id }}&action=Edit">Edit</a>
  <a class="btn btn-primary btn-small" type="button" href="?lesson_id={{ lesson.id }}&action=Delete">Delete</a>	
	<a class="btn btn-primary btn-small" type="button" onClick="requestLessonStandards('{{ lesson.id }}')" >Add Standards</a>
	<a class="btn btn-primary btn-small" type="button" onClick="requestLessonObjectives('{{ lesson.id }}')" >Add Objectives</a>
</div> -->

<div class="container coursebox">
<div class="row">
	<div class="span3">
        <a class="courseboxtitle" href="/lessonPlanner/?lesson_id={{ lesson.id }}" >{{ lesson.name }}</a>
    </div>
     <div class="span1 offset3" style="width: 10px;">
    	<div class="btn-group">
  			 <a class="close ropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-plus"></i></a>
  			<ul class="dropdown-menu">
    			<li><a href="#" onClick="requestLessonObjectives('{{ lesson.id }}')">Add Lesson Objectives</a></li>
    			<li><a href="#" onClick="requestLessonStandards('{{ lesson.id }}')">Add Lesson Standards</a></li>
  			</ul>
		</div>
    </div>
    <div class="span1" style="width: 10px;">
    	<a class="close" href="#" onClick="requestEditLesson('{{ lesson.id }}')"><i class="icon-edit"></i></a>
    </div>
    <div class="span1" style="width: 10px;">
    	 <a class="close" rel="tooltip" data-placement="right" title="Delete {{lesson.name}} lesson" onClick="requestDeleteLesson('{{ lesson.id }}')"><i class="icon-trash"></i></a>
    </div>
</div>
<div class="row">
	<div class="span4">
		<h5 class="coursesubtitle">In {{lesson.unit.name}} of <a href="/units/?course_id={{ lesson.unit.course.id }}">{{lesson.unit.course.name}}</a></h5>
	</div>
</div>
<div class="row courseboxsubtext">
    <div class="span2">

    	<p><b>Created By: </b><a href="#">{{ lesson.owner.user_firstname }} {{ lesson.owner.user_lastname }}</a></p><!-- this should link to a public profile view of the user -->

    </div>
    <div class="span2">
    	<p><b>Starts: </b>{{lesson.start_date}}</p>
    </div>
    <div class="span2">
    	<p><b>Ends: </b>{{lesson.end_date}}</p>
    </div>
</div>
<div class="row">
	<div class="span10">
		<p>
		{{ lesson.description }}
		 </p>
	</div>
</div>
<div class="row">
	<div class="span3">
		<!-- <a class="btn btn-success btn-small" href="/lessonPlanner/?lesson_id={{ lesson.id }}">Go To Lesson</a> -->
		<div class="btn-group">
  			<a class="btn btn-success btn-small" href="/lessonPlanner/?lesson_id={{ lesson.id }}">View Lesson</a>
  			<button class="btn btn-success btn-small dropdown-toggle" data-toggle="dropdown">
    			<span class="caret"></span>
  			</button>
  			<ul class="dropdown-menu">
    			<li></li>
    			<li><a href="#">View Lesson Objectives</a></li>
    			<li><a href="#">View Lesson Standards</a></li>
  			</ul>
		</div>
	</div>
	<!--
	<div class="span5">
		<a class="btn btn-success btn-small" type="button" href="/lessonPlanner/?lesson_id={{ lesson.id }}">View Lesson</a>
    </div>
    <div class="span5">
    	<a class="btn btn-primary btn-small" type="button" href="#">View Objectives</a>
    </div>
    -->
</div>
</div> 
{% endfor %}
{% endif %}

{% include "lesson_standards_modal.html" %}
{% include "lesson_objectives_modal.html" %}
{% include "lesson_edit_modal.html" %}
{% include "lesson_delete_modal.html" %}
{% endblock %}

<!-- right nav -->
{% block rightnav %}
	<!--<div class="row">
		<div class="span2">
			<h4>Unit Lessons</h4>
		</div>
	</div>
	<div class="row">
		<div class="span2">
			{% if userLessons|length == 0 %}
			<div class="alert alert-info">No lessons created yet</div>
			{% endif %}
			<ul>
				{% for lesson in userLessons %}
				<li><a href="/lessonPlanner/?lesson_id={{ lesson.id }}" onclick="goToByScroll('u1')">{{ lesson.name }}</a></li>
				{% endfor %}
				<a href="#addLesson" data-toggle="modal"><small><i class="icon-plus"></i> Add Lesson</small></a>
			</ul>
		</div>
	</div> -->
	<!-- Right hand navigation for the lessons page. Displays navigation based on the lessons in the given unit -->
	<div class="row">
		<div class="span3 nocontenttext">
			<ul class="nav nav-list" style="width: 95%;">
				<li class="nav-header">{{unit.name}} Unit Lessons</li>
				{% if userLessons|length == 0 %}
				<li><a href="#addLesson" data-toggle="modal"><i class="icon-plus"></i>Add Your First Lesson</a></li>
				{% else %}
					{% for lesson in userLessons %}
				<li><a href="/lessonPlanner/?lesson_id={{ lesson.id }}" onclick="goToByScroll('u1')">{{ lesson.name }}</a></li>
					{% endfor %}
				<li><a href="#addLesson" data-toggle="modal"><i class="icon-plus"></i>Add Another Lesson</a></li>
				{% endif %}
			</ul>
		</div>
	</div>
<!--	<div class="row-fluid">
		<div class="span5">
		
		</div>
		<div class="span7 pull-right">
			<button class="btn btn-primary btn-mini" type="button">Add Unit</button>
			<button class="btn btn-mini" type="button">Delete Unit</button>-->
{% endblock %}
