{% extends "base-3col.html" %}
{% load staticfiles %}

<!DOCTYPE html>
{% block content %}

<!-- Middle column main content -->
{% if userLessons|length == 0 %}
<div class="container alertbox" style="width: 100%;">
	<div class="alert alert-info">
		<p>There aren't any lessons in {{unit.name}} yet. <a href="#addLesson" data-toggle="modal">Add one.</a></p>
	</div>
</div>
{% else %} 	
{% for lesson in userLessons %}
	<!-- <div class="container coursebox" width="100%" id="{{ lesson.id }}">
				  <p><a href="/lessonPlanner/?lesson_id={{ lesson.id }}"><h4>{{ lesson.name }}</h4></a></p>
				<p><b>Description: </b> {{ lesson.description }} </p>			 
				
		<p><b>Standards for this Lesson: </b> 
	<br>	{% for standard in lesson.standards.all %}
			{{ standard.description }}<br>
		{% endfor %}
		<p><b>Objectives for this Lesson: </b> 
	<br>	{% for objective in lesson.objectives.all %}
			{{ objective.description }}<br>
		{% endfor %}
    <br><br>
	<a class="btn btn-primary btn-small" type="button" href="?lesson_id={{ lesson.id }}&action=Edit">Edit</a>
  <a class="btn btn-primary btn-small" type="button" href="?lesson_id={{ lesson.id }}&action=Delete">Delete</a>	
	<a class="btn btn-primary btn-small" type="button" onClick="requestLessonStandards('{{ lesson.id }}')" >Add Standards</a>
	<a class="btn btn-primary btn-small" type="button" onClick="requestLessonObjectives('{{ lesson.id }}')" >Add Objectives</a>
</div> -->

<div class="container coursebox" style="width: 100%;">
<div class="row">
	<div class="span2">
        <a class="courseboxtitle" href="/lessonPlanner/?lesson_id={{ lesson.id }}" >{{ lesson.name }}</a>
    </div>
     <div class="span1 offset2" style="text-align: right; width: 142px;">
    	<a href="javascript:void(0)" rel="tooltip" data-placement="bottom" title="Add objectives to {{lesson.name}} lesson" onClick="requestLessonObjectives('{{ lesson.id }}')"><small>Add Objectives</small></a>
    </div>
    <div class="span1" style="text-align: right; width: 142px;">
    	<a href="javascript:void(0)" rel="tooltip" data-placement="bottom" title="Add course standards to {{lesson.name}} lesson" onClick="requestLessonStandards('{{ lesson.id }}')"><small>Add Standards</small></a>
    </div>
    <div class="span1" style="text-align: right; width: 10px;">
    	<a href="?lesson_id={{ lesson.id }}&action=Edit"><small>Edit</small></a>
    </div>
    <div class="span1" style="padding-top:3px; width: 28px;">
    	 <a class="close" rel="tooltip" data-placement="right" title="Delete {{lesson.name}} lesson" href="?lesson_id={{ lesson.id }}&action=Delete"><i class="icon-trash"></i></a>
    </div>
</div>
<div class="row">
	<div class="span4">
		<h5 class="coursesubtitle">In {{lesson.unit.name}}</h5>
	</div>
</div>
<div class="row courseboxsubtext">
    <div class="span2">
    	<p><b>Created By: </b><a href="#">{{lesson.owner}}</a></p><!-- this should link to a public profile view of the user -->
    </div>
    <div class="span2">
    	<p><b>Start Date: </b>Placeholder</p>
    </div>
    <div class="span2">
    	<p><b>End Date: </b>Placeholder</p>
    </div>
</div>
<div class="row">
	<div class="span10">
		<p>
		{{ lesson.description }}
		 </p>
	<!-- TODO remove this as a get -->
		<a class="btn btn-success btn-small" type="button" href="/lessonPlanner/?lesson_id={{ lesson.id }}">View Lesson</a>
    </div>
</div>
</div> 

{% endfor %}
{% endif %}
{% endblock %}
<!-- right nav -->
{% block rightnav %}
	<!--<div class="row">
		<div class="span2">
			<h4>Unit Lessons</h4>
		</div>
	</div>
	<div class="row">
		<div class="span2">
			{% if userLessons|length == 0 %}
			<div class="alert alert-info">No lessons created yet</div>
			{% endif %}
			<ul>
				{% for lesson in userLessons %}
				<li><a href="/lessonPlanner/?lesson_id={{ lesson.id }}" onclick="goToByScroll('u1')">{{ lesson.name }}</a></li>
				{% endfor %}
				<a href="#addLesson" data-toggle="modal"><small><i class="icon-plus"></i> Add Lesson</small></a>
			</ul>
		</div>
	</div> -->
	<!-- Right hand navigation for the lessons page. Displays navigation based on the lessons in the given unit -->
	<div class="row">
		<div class="span3 nocontenttext">
			<ul class="nav nav-list" style="width: 95%;">
				<li class="nav-header">{{unit.name}} Unit Lessons</li>
				{% if userLessons|length == 0 %}
				<li><a href="#addLesson" data-toggle="modal"><i class="icon-plus"></i>Add Your First Lesson</a></li>
				{% else %}
					{% for lesson in userLessons %}
				<li><a href="/lessonPlanner/?lesson_id={{ lesson.id }}" onclick="goToByScroll('u1')">{{ lesson.name }}</a></li>
					{% endfor %}
				<li><a href="#addLesson" data-toggle="modal"><i class="icon-plus"></i>Add Another Lesson</a></li>
				{% endif %}
			</ul>
		</div>
	</div>
<!--	<div class="row-fluid">
		<div class="span5">
		
		</div>
		<div class="span7 pull-right">
			<button class="btn btn-primary btn-mini" type="button">Add Unit</button>
			<button class="btn btn-mini" type="button">Delete Unit</button>-->
{% if showEditLesson %}
<div class="modal" id="editLesson">
  <div class="modal-header">
    <a class="close" type="button" href="/lessons/?unit_id={{ unitID }}">x</a>
    <h3>Edit Lesson</h3>
  </div>
  <div class="modal-body">
    <form method="post" action="{% url editLesson %}" name="login_form">
        {% csrf_token %}
        {% for field in editLessonForm %}
        <div class="control-group">
        {{ field.errors.as_text }}
         <label class="control-label">{{ field.label_tag }}</label>
            <div class="controls">
                {{ field }}
            </div>
                </div>
    {% endfor %}
     <p>
	<input type="hidden" value={{ selectedLesson }} name="selectedLesson">
<button type="submit" class="btn btn-primary">Update</button>
        <a class="btn btn-primary" type="button" href="/lessons/?unit_id={{ unitID }}">Cancel</a>
      </p>
    </form>
  </div>
</div>
{% endif %}
{% if showDeleteLesson %}
<div class="modal" id="deleteLesson">
  <div class="modal-header">
    <a class="close" type="button" href="/lessons/?unit_id={{ unitID }}">x</a>
    <h3>Delete lesson</h3>
  </div>
  <div class="modal-body">
    <form method="post" action="{% url deleteLesson %}" name="login_form">
        {% csrf_token %}
        {% for field in deleteLessonForm %}
        <div class="control-group">
         <label class="control-label">{{ field.label_tag }}</label>
            <div class="controls">
                {{ field }}
            </div>
                </div>
    {% endfor %}
     Are you sure you want to delete the lesson?
<p>
     <p><button type="submit" class="btn btn-primary">Yes</button>
        <a class="btn btn-primary" type="button" href="/lessons/?unit_id={{ unitID }}">No</a>
      </p>
    </form>
  </div>
</div>
{% endif %}
{% if addingLessonStandards %}
<div class="modal" id="deleteCourse">
  <div class="modal-header">
    <a class="close" type="button" href="/courses/">x</a>
    <h3>Add standards to lesson</h3>
  </div>
  <div class="modal-body">
    <form method="post" action="{% url addLessonStandards %}" name="add_unit_standards">
        {% csrf_token %}
        {% for field in lessonStandardsForm %}
        <div class="control-group">
         <label class="control-label">{{ field.label_tag }}</label>
            <div class="controls">
                {{ field }}
            </div>
                </div>
    {% endfor %}
     
     <p><button type="submit" class="btn btn-primary">Submit</button>
        <a class="btn btn-primary" type="button" href="/courses/">Cancel</a>
      </p>
    </form>
  </div>
</div>
{% endif %}

{% if selectingStandard %}
<div class="modal" id="selectingStandard">
  <div class="modal-header">
    <a class="close" type="button" href="/courses/">x</a>
    <h3>Select Lesson Standard</h3>
  </div>
  <div class="modal-body">
    <form method="post" action="{% url createLessonObjectives %}" name="create_lesson_objectives">
        {% csrf_token %}
        {% for field in selectStandardsForm %}
        <div class="control-group">
         <label class="control-label">{{ field.label_tag }}</label>
            <div class="controls">
                {{ field }}
            </div>
                </div>
    {% endfor %}
     
     <p><button type="submit" class="btn btn-primary">Submit</button>
        <a class="btn btn-primary" type="button" href="/courses/">Cancel</a>
      </p>
    </form>
  </div>
</div>
{% endif %}

{% if creatingObjectives %}
<div class="modal" id="addingLessonObjectives">
  <div class="modal-header">
    <a class="close" type="button" href="/courses/">x</a>
    <h3>Add Objectives to lesson</h3>
  </div>
  <div class="modal-body">
    <form method="post" action="{% url addLessonObjectives %}" name="add_lesson_objectives">
        {% csrf_token %}
        {% for field in createObjectivesForm %}
        <div class="control-group">
         <label class="control-label">{{ field.label_tag }}</label>
            <div class="controls">
                {{ field }}
            </div>
                </div>
    {% endfor %}
     
     <button type="button" id="addObjective" onClick="addObj()"  class="btn btn-primary">Add objective</button>
     <p><button type="submit" class="btn btn-primary">Submit</button>
        <a class="btn btn-primary" type="button" href="/courses/">Cancel</a>
      </p>
    </form>
  </div>
</div>
{% endif %}
<script type="text/javascript"> <!-- scroll jquery -->
	
	new_objectives_count = $("[name=new_objectives_count]").val();
	
	function addObj () {
		var form = document.getElementsByName("createObjectivesForm");
		textbox = document.createElement('input');
		textbox.name = 'new_objective_' + new_objectives_count;
		new_objectives_count ++; 
	
		div = document.createElement('div');
		textbox.type = 'text';		

  		var reper = document.getElementById('addObjective');
 	 	var parinte = reper.parentNode;

		parinte.insertBefore(textbox, reper);
		parinte.insertBefore(div, reper);		
		
    		$("[name=new_objectives_count]").val(new_objectives_count);

	}
	function requestLessonObjectives(id){

		var f = document.createElement("form");
		f.setAttribute('method',"post");
		f.setAttribute('action',"{% url getLessonStandards %}");
		var i = document.createElement("input");
		i.setAttribute('type',"hidden");
		i.setAttribute('value', id );
		i.setAttribute('name',"lesson_id");
		f.appendChild(i);
		document.body.appendChild(f);
		f.submit();
	}
	function requestLessonStandards(id){

		var f = document.createElement("form");
		f.setAttribute('method',"post");
		f.setAttribute('action',"{% url LessonPlanner.views.requestLessonStandards %}");
		var i = document.createElement("input");
		i.setAttribute('type',"hidden");
		i.setAttribute('value', id );
		i.setAttribute('name',"lesson_id");
		f.appendChild(i);
		document.body.appendChild(f);
		f.submit();
	}
</script>

{% endblock %}
