{% extends "base-3col.html" %}
{% load staticfiles %}

<!DOCTYPE html>
{% block content %}

<!-- Middle column main content -->

{% for lesson in userLessons %}
	<div class="unitbox" id="{{ lesson.id }}">
				  <p><a href="/lessonPlanner/?lesson_id={{ lesson.id }}"><h4>{{ lesson.name }}</h4></a></p>
				 
<a class="btn btn-primary btn-small" type="button" href="?lesson_id={{ lesson.id }}&action=Edit">Edit</a>
        <a class="btn btn-primary btn-small" type="button" href="?lesson_id={{ lesson.id }}&action=Delete">Delete</a>	
</div>
{% endfor %}
{% endblock %}
<!-- right nav -->
{% block rightnav %}
	<div class="row-fluid">
		<div class="span12 rightnavsubheader">
			<h4 class="page-header">Unit Lessons</h4>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span12">
			{% if userLessons|length == 0 %}
			<div class="alert alert-info">No lessons created yet</div>
			{% endif %}
			<ul>
				{% for lesson in userLessons %}
				<li><a href="/lessonPlanner/?lesson_id={{ lesson.id }}" onclick="goToByScroll('u1')">{{ lesson.name }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
<!--	<div class="row-fluid">
		<div class="span5">
		
		</div>
		<div class="span7 pull-right">
			<button class="btn btn-primary btn-mini" type="button">Add Unit</button>
			<button class="btn btn-mini" type="button">Delete Unit</button>-->
		</div>
	</div>
{% if showEditLesson %}
<div class="modal" id="editLesson">
  <div class="modal-header">
    <a class="close" type="button" href="/lessons/?unit_id={{ unitID }}">x</a>
    <h3>Edit Lesson</h3>
  </div>
  <div class="modal-body">
    <form method="post" action="{% url editLesson %}" name="login_form">
        {% csrf_token %}
        {% for field in editLessonForm %}
        <div class="control-group">
        {{ field.errors.as_text }}
         <label class="control-label">{{ field.label_tag }}</label>
            <div class="controls">
                {{ field }}
            </div>
                </div>
    {% endfor %}
     <p><button type="submit" class="btn btn-primary">Update</button>
        <a class="btn btn-primary" type="button" href="/lessons/?unit_id={{ unitID }}">Cancel</a>
      </p>
    </form>
  </div>
</div>
{% endif %}
{% if showDeleteLesson %}
<div class="modal" id="deleteLesson">
  <div class="modal-header">
    <a class="close" type="button" href="/lessons/?unit_id={{ unitID }}">x</a>
    <h3>Delete lesson</h3>
  </div>
  <div class="modal-body">
    <form method="post" action="{% url deleteLesson %}" name="login_form">
        {% csrf_token %}
        {% for field in deleteLessonForm %}
        <div class="control-group">
         <label class="control-label">{{ field.label_tag }}</label>
            <div class="controls">
                {{ field }}
            </div>
                </div>
    {% endfor %}
     Are you sure you want to delete the lesson?
<p>
     <p><button type="submit" class="btn btn-primary">Yes</button>
        <a class="btn btn-primary" type="button" href="/lessons/?unit_id={{ unitID }}">No</a>
      </p>
    </form>
  </div>
</div>
{% endif %}


{% endblock %}
