<div class="modal hide" id="editLesson">
{% block editLesson %}
  <div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">x</button>
    <h3>Edit Lesson</h3>
  </div>
  <div class="modal-body">
    <form method="post" action="{% url editLesson %}" name="login_form">
        {% csrf_token %}
        {% for field in editLessonForm %}
        <div class="control-group">
        {{ field.errors.as_text }}
         <label class="control-label">{{ field.label_tag }}</label>
            <div class="controls">
                {{ field }}
            </div>
                </div>
    {% endfor %}
     <p>
	<input type="hidden" value={{ selectedLesson }} name="selectedLesson">
<button type="submit" class="btn btn-primary">Update</button>
        <a class="btn btn-primary" type="button" data-dismiss="modal">Cancel</a>
      </p>
    </form>
  </div>
{% endblock %}
</div>

<script type="text/javascript"> 

	function requestEditLesson(id){

		$.ajax({
			data: {lesson_id:id},
			dataType:'html',
			type: "POST", // GET or POST
      url: {% url Lessons.views.EditLessonRequest %}, // the file to call
			success : function(data){
					$('#editLesson').html(data);
					$('#editLesson').modal('show')		
       }
		});
	}

</script>
