
<div class="modal hide" id="deleteLesson">
{% block deleteLesson %}
  <div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">x</button>
    <h3>Delete lesson</h3>
  </div>
  <div class="modal-body">
    <form method="post" action="{% url deleteLesson %}" name="login_form">
        {% csrf_token %}
	<input type="hidden" name="lesson_id" id="deleteLessonHidden">
     Are you sure you want to delete the lesson?
<p>
     <p><button type="submit" class="btn btn-primary">Yes</button>
        <a class="btn btn-primary" type="button" data-dismiss="modal">No</a>
      </p>
    </form>
  </div>
{% endblock %}
</div>

<script type="text/javascript"> 

	function requestDeleteLesson(id){
		$("#deleteLessonHidden").val(id)
		$("#deleteLesson").modal("show");
	}

</script>
