<!DOCTYPE html>
{% extends "base-lessonPlanner.html" %}
{% load dictionary_extras %}
{% block content %}
<div class="noborderunitbox" id="allSections">
	<div id="section0" class="row-fluid">
		<div class="sectionheader" >
			Lesson Overview 	<a target="_new" href="{% url lessonPresentation %}?lesson_id={{ lesson.id }}"> [Presentation View] </a>
		</div>
		
		<div class="overviewsectionnav row-fluid">					
			<div class="span4">
				<b>{{ lesson.name }}</b> in the <a href="/lessons/?unit_id={{ unit.id }}"> {{ unit.name }}</a>
			</div>
			<div class="span3">
				<b>Created By: </b><a href="#">{{ fullname }}</a>
			</div>
		</div>
		<div>
			<div class="span10 well">
				<h5>Lesson Description</h5>
					<div class="span10">
						<div class="editabletextarea" rows="3" style="margin-left: 0px"  model_map_id="{{ model_map|access:'Lessons'|access:'Lesson'|access:'description'}}" obj_id="{{ lesson.id }}" url="{% url setData %}">
							{{ lesson.description }}
						</div>
				</div>
			</div>
		</div>
		<div>
			<div class="span5 well">
				<h5>Lesson Objectives</h5>
				<ul>
				{% for objective in objective_list%}
					<li>{{ objective.1 }}</li>
				{% endfor %}
				</ul>
				<!--<button class="btn btn-primary btn-mini">Add Objectives</button>
				<button class="btn btn-mini">Delete Objectives</button>-->
			</div>
		
		
			<div class="span5 well">
				<h5>Lesson Standards</h5>
				<ul>
				{% for standard in standard_list%}
					<li>{{ standard.1 }}</li>
				{% endfor %}
				</ul>
				<!--<button class="btn btn-primary btn-mini">Add Standards</button>
				<button class="btn btn-mini">Delete Standards</button>-->
			</div>
		</div>
	</div>
	{% for section, section_placement in sections|sort_placement %}
		<div id="section{{ section.id }}" class="" style="
    	background: #E6E6FF; padding: 12px; margin-bottom:20px
		">
			<div class="sectionheader" id="{{ section.id }}">
				{% with section.name as user_key %}
		
				 {{ section.description }} 
				<a id="delete_section{{ section.id }}" data-sectionid="{{ section.id }}" 
							class="btn btn-primary btn-mini delete_section" href="#" style="right: 2%; float:right">Delete Section</a>	
				<h6> {{ section_types|access:user_key }} </h6>  
				{% endwith %}
			</div>	
			{% for content, content_placement in sections|access:section|sort_placement %}
			

				<div class="well" id="{{content.id }}_content"> </p>
					<div style="float:right">
						<a id="delete_content{{ content.id }}" data-contentid="{{ content.id }}" 	
							class="btn btn-primary btn-mini delete_content" style="" href="#">Delete</a>
					</div>
					{% if content.content_typename == "OnlineVideo" %}
					<div id="{{content.id }}_content_video">
						
							<script type="text/javascript">
								document.getElementById("{{content.id }}_content_video").innerHTML = getVideoHtmlbyLink( "{{ content.link }}","{{content.id }}_content_video");
							</script>
					</div>
				<!--	<iframe width="300" height="300" src="{{ content.link }}"> </iframe>-->
				{% elif content.content_typename == "Text" %}
						{{ content.text }} 
				{% elif content.content_typename == "PowerPoint" %}		
					
					<div id="loadImg"><img src="/static/loading.gif" /></div>	
					<iframe src="http://docs.google.com/gview?url={{ content.getSecureURL }}&embedded=true" style="width:500px; height:300px;" onload="document.getElementById('loadImg').style.display='none'"; frameborder="0"></iframe>
			
				{% elif content.content_typename == "Assessment" %}
						
						<h6> Assessment - {{ content.title }} </h6>
						{% for objective in content.objectives.all%}
							<li>{{ objective.description }}</li>
						{% endfor %}
						{% for q,placement in assessment_dict|access:content.id|sort_placement %}
							<div>
								Question: {{ q.question }}
							</div>
							<div>
								<div class="row" style="margin-left:0px">
								  <div class="span4 collapse-group">
							      <p class="collapse">
									{% with ans=assessment_dict|access:content.id|access:q %}
										{% for a in ans.0 %}
											Answer: {{  a.answer }}
										{% endfor %}
									
									
										{% for a in ans.1 %}
											{% if forloop.first %}
											Choices: <br>
											{% endif %}
										
											<input type="checkbox" value = "{{ a.answer }}" 
											{% if a.is_checked %}
											Checked 
											{% endif %} > {{ a.answer }} <br>									
										{% endfor %}
								{% endwith %} </p>
		      					<p><a class="assessment-collapse-btn" href="#">View Answer &raquo;</a></p>
		  						</div>
								</div>
							</div>
						{% endfor %}	
				{% elif content.content_typename == "Activity" %}
					<h6> Activity - {{ content.name }} </h6>
						{{ content.text }}
					<div> Description - {{ content.description }} </div>
					<div> Activity Type - {{ content.activity_type }} </div>
					<div> Instructions - {{ content.instructions }} </div>
					<div> Materials - {{ content.materials }} </div>
					<div> Length - {{ content.length }} </div>			
				{% elif content.content_typename == "OnlinePicture" %}
					<h6> Picture </h6>

					<div id="loadImg"><img src="/static/loading.gif" /></div>	
					<a href="{{content.link}}"><img src="{{ content.link }}" style="max-width:300px; max-height:300px;" onload="document.getElementById('loadImg').style.display='none'"; frameborder="0"></img></a>
	
				{% elif content.content_typename == "OnlineArticle" %}
						<h6> Article </h6>
				{% elif content.content_typename == "TeacherNote" %}
					<h6> Teacher Note </h6>
					<div class="editabletextarea" model_map_id="{{ model_map|access:'LessonPlanner'|access:'TeacherNoteContent'|access:'note'}}" obj_id="{{ content.id }}" url="{% url setData %}">
						{{ content.note }}
					</div>
				{% elif content.content_typename == "AdministratorNote" %}
					<h6> Admin Note </h6>
					<div class="editabletextarea" model_map_id="{{ model_map|access:'LessonPlanner'|access:'AdministratorNoteContent'|access:'note'}}" obj_id="{{ content.id }}" url="{% url setData %}">
						{{ content.note }}
					</div>
				{% else %}
						OTHER CONTENT - Need to define template
				{% endif %}
				</div>			
			{% endfor %}
		
			{% include "contentnav.html" %}
		
		</div>
	{% endfor %}	
	</div>
</div>
{% endblock %}

