<html style="height:100%; position:relative;">
  <head>
    <title>LessnLab - Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
		<link href="/static/bootstrap.css" rel="stylesheet" media="screen">
		<link href="/static/styles.css" rel="stylesheet" media="screen">
		<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	
		<script src="/static/jQuery.jQTubeUtil.js"></script>
  	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  	<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
		<script src="/static/bootstrap.js"></script>
 		<script src="/static/lessnlab.js"></script>
	</head>
<input type="button" value="Go Fullscreen" id="fsbutton">
	<div id='lesson_presentation'>

		

		asdasd
		asd
		asd



	</div>

</html>

<script type="text/javascript">

var fsButton = document.getElementById('fsbutton');
var lesson_presentation = document.getElementById('lesson_presentation');

$('#lesson_presentation').mouseenter(function(){
 	
});
$(document).keydown(function(e){
    if (e.keyCode == 37) { 
       alert( "left pressed" );
       return false;
    }
});



if (fullScreenApi.supportsFullScreen) {
    fsButton.addEventListener('click', function() {
        fullScreenApi.requestFullScreen(lesson_presentation);
    }, true);
}

</script>


