<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>Log in</title>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<script type="text/javascript" src="/media/jquery-1.2.6.min.js"></script>
<style>
body{
        font-family:Arial,Helvetica,sans-serif;
        font-size: 12px;
}
</style>
<script type="text/javascript" src="/media/showLesson.js"></script>
<script type="text/javascript">
        var cont = "{{ cont }}";
    </script>
</head>
<body>

	{{title}}'s Lessons
	<div class="allLessons">
		{% for lesson in allLessons %}
		<div class="lesson">
			<a href="#" id="lesson{{lesson.LessonID}}" class="l" lID="{{lesson.LessonID}}" >{{lesson.LessonTitle}}</a>
		</div>
		{% endfor %}
			
	</div>
	Content is: <div id="cont">{{ cont }}</div>	
	

	<!--
	<div id="Cont" class="allLessons">
                CONTENT
		{% for content in allContent %}
                <div class="lesson">
                        Content - {{content.Content}}
                </div>
                {% endfor %}

        </div>-->

</body>
</html>







