{% extends "base.html" %}
{% load staticfiles %}
{% load dictionary_extras %}
<!DOCTYPE html>
{% block content %}
{% for course in userCourses %} 
	{{ course.name }} : {{ course.subject }}
 	<form id="manage_{{ course.id }}" method="POST" action="{% url manageCourseStudents %}">
	
	<table class="table table-hover table-striped table-bordered">
	<thead> <tr> <th> Check to approve </th> <th> Student Name </th> <th> Student Email </th> <th> Approved </th> </tr> </thead>
	{% for cs in courseStudents|access:course %}
	<tr><td><input type="checkbox" name="students" value="{{ cs.student.user.id }}"></td><td> {{ cs.student.user.first_name }} {{ cs.student.user.last_name }} </td><td> {{ cs.student.user.email }} </td> <td> {{ cs.approved }} </td></tr><br>
	
	{% endfor %}
	</table>
	<button type="button" onClick="manageCourse('{{ course.id }}')" class="btn btn-primary">Approve</button>
	</form>


{% endfor %}

<script type="text/javascript"> <!-- scroll jquery -->

	function manageCourse(course_id) {
		var form = document.getElementById("manage_"+course_id);
		id_text = document.createElement("input");
		id_text.setAttribute("type","hidden");
		id_text.setAttribute("name","course_id");
		id_text.setAttribute("value", course_id);
		form.appendChild(id_text);
		form.submit();
	}


</script>

{% endblock %}
