<div class="navbar navbar-fixed-top navcolor">
	<div class="navbar-inner">

		<div class="span3">
			<ul class="nav">
				<li class="dropdown">  
					<a href="#"  
    				 class="dropdown-toggle"  
    				 data-toggle="dropdown">  
    				 <i class="icon-user"></i> {{ fullname }}
    				 <b class="caret"></b>  
					</a> 
			 
					<ul class="dropdown-menu">
						<li><a href="/courses/">Home</a></li> 
						<li><a href="#">Profile</a></li> 
						<li><a href="#">Settings</a></li>
						<li><a href="#">Logout</a></li>
					</ul> 
			  </li>
			</ul>
		</div>

		<div >
			<ul class="nav pull-left">
	 			<li class="dropdown">  
			 	<a href="#"  
  				 class="dropdown-toggle"  
  				 data-toggle="dropdown"><b class="caret"></b> 
						{% if course %}
							{{ course.subject }}
						{% else %}
							 Course
						{% endif %}   					 
				</a>  
				<ul class="dropdown-menu">
						{% for course in userCourses %}  
						<li><a href="/units/?course_id={{ course.id }}">{{ course.subject }}</a></li>
						{% endfor %}

  				<li><a href="#addCourse" data-toggle="modal"><i class="icon-plus"></i> Add Course</a></li>
				</ul>  
			</li>
				{% if course %}
				<li><a class="#"> <i class="icon-chevron-right"></i> </a>
				<li class="dropdown">  
  			 	<a href="#" class="dropdown-toggle" data-toggle="dropdown"><b class="caret"></b>
					{% if unit %}
						{{ unit.name }}
					{% else %}
						Current Unit
					{% endif %} </a>  
					<ul class="dropdown-menu">
					{% for unit in userUnits %}  
						<li><a href="/lessons/?unit_id={{ unit.id }}">{{ unit.name }}</a></li>
					{% endfor %}

						<li><a href="#addUnit" data-toggle="modal"><i class="icon-plus"></i> Add Unit</a></li>
					</ul>  
		  	</li>
				{% endif %}
				{% if unit %}
			  
				<li><a class="#"> <i class="icon-chevron-right"></i> </a>
		 			<li class="dropdown">  
			 		<a href="#"  
  				 class="dropdown-toggle"  
  				 data-toggle="dropdown"><b class="caret"></b>
						{% if lesson %}
							{{ lesson.name }}
						{% else %}
							Current Lesson
						{% endif %}
				 	</a>  
					<ul class="dropdown-menu">
						{% for lesson in userLessons %}  
							<li><a href="/lessonPlanner/?lesson_id={{ lesson.id }}">{{ lesson.name }}</a></li>
						{% endfor %}
						<li><a href="#addLesson" data-toggle="modal"><i class="icon-plus"></i> Add Lesson</a></li>	
					</ul>  
		  	</li>
				{% endif %}
			</ul>
		</div>

	</div>
</div>
