<div class="navbar navbar-fixed-top custom">
	<div class="navbar-inner">
		<div class="container navheader" style="width: 1000px;">
			<ul class="nav">
			<li><a href="/courses/"><i class="icon-home"></i></a></li>
			<li class="dropdown">  
					<a href="#"  
    				 class="dropdown-toggle"  
    				 data-toggle="dropdown">  
    				 <i class="icon-user"></i>
    				 {{fullname}}
    				 <b class="caret"></b>  
					</a> 
					<ul class="dropdown-menu">
						<li><a href="{% url Profile.views.view_profile %}">Profile</a></li> 
						<li><a href="#">Settings</a></li>
						<li><a href="{% url accounts.views.logout_user %}">Logout</a></li>
					</ul> 
			  </li>
			  <li class="dropdown">  
					<a href="#"  
    				 class="dropdown-toggle"  
    				 data-toggle="dropdown">  
    				 <i class="icon-book"></i>
    				 Curriculum
    				 <b class="caret"></b>  
					</a> 
					<ul class="dropdown-menu">
						<li><a href="/courses/">Courses</a></li> 
						<li><a href="#">All Units</a></li>
						<li><a href="#">All Lessons</a></li>
					</ul> 
			  </li>
			  <li class="dropdown">  
					<a href="#"  
    				 class="dropdown-toggle"  
    				 data-toggle="dropdown">  
    				 <i class="icon-check"></i>
    				 Data
    				 <b class="caret"></b>  
					</a> 
					<ul class="dropdown-menu">
						<li><a href="#">My Performance</a></li> 
						<li><a href="#">Student Performance</a></li>
					</ul> 
			  </li>
			  <li class="dropdown">  
					<a href="#"  
    				 class="dropdown-toggle"  
    				 data-toggle="dropdown">  
    				 <i class="icon-wrench"></i>
    				 Tools
    				 <b class="caret"></b>  
					</a> 
					<ul class="dropdown-menu">
						<li><a href="/manageStudents/">Manage Students</a></li> 
						<li><a href="/standardsSearch/">Standards Search</a></li>
					</ul> 
			  </li>
			  <!-- 
			  <li class="dropdown">  
			 	<a href="#"  
  				 class="dropdown-toggle"  
  				 data-toggle="dropdown"><b class="caret"></b> 
						{% if course %}
							{{ course.name }}
						{% else %}
							 Choose Course
						{% endif %}   					 
				</a>  
				<ul class="dropdown-menu">
						{% for course in userCourses %}  
						<li><a href="/units/?course_id={{ course.id }}">{{ course.name }}</a></li>
						{% endfor %}
				<li class="divider"></li>
  				<li><a href="#addCourse" data-toggle="modal"><i class="icon-plus"></i> Add Course</a></li>
				</ul>  
			</li>
				{% if course %}
				<li><a class="#"> <i class="icon-chevron-right"></i> </a>
				<li class="dropdown">  
  			 	<a href="#" class="dropdown-toggle" data-toggle="dropdown"><b class="caret"></b>
					{% if unit %}
						{{ unit.name }}
					{% else %}
						Choose Unit
					{% endif %} </a>  
					<ul class="dropdown-menu">
					{% for unit in userUnits %}  
						<li><a href="/lessons/?unit_id={{ unit.id }}">{{ unit.name }}</a></li>
					{% endfor %}
						<li class="divider"></li>
						<li><a href="#addUnit" data-toggle="modal"><i class="icon-plus"></i> Add Unit</a></li>
					</ul>  
		  	</li>
				{% endif %}
				{% if unit %}
				<li><a class="#"> <i class="icon-chevron-right"></i> </a>
		 			<li class="dropdown">  
			 		<a href="#"  
  				 class="dropdown-toggle"  
  				 data-toggle="dropdown"><b class="caret"></b>
						{% if lesson %}
							{{ lesson.name }}
						{% else %}
							Choose Lesson
						{% endif %}
				 	</a>  
					<ul class="dropdown-menu">
						{% for lesson in userLessons %}  
							<li><a href="/lessonPlanner/?lesson_id={{ lesson.id }}">{{ lesson.name }}</a></li>
						{% endfor %}
						<li class="divider"></li>
						<li><a href="#addLesson" data-toggle="modal"><i class="icon-plus"></i> Add Lesson</a></li>	
					</ul>  
		  	</li>
				{% endif %} -->
			</ul>
		</div>
	</div>
</div>
