<div class="span9">
    <link href="/static/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="/static/lessnlab.js"></script>
    <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script> 
    
   
    <h3> Create objectives for:
        <input  style="text-align: right; float: right" type="button" value="Back"  class="btn btn-primary" onclick="window.history.back()" />
    </h3>
    <h4> {{ standard.numbering }} : {{ standard.description }}</h4>
  

    <form method="post" action="/extra/ObjectivesPage/?standard_id={{ standard.id }}" name="createObjectivesForm">
        {% csrf_token %}
        {% for field in objectivesAddForm %}
        <div class="control-group">
         <label class="control-label">{{ field.label_tag }}</label>
            <div class="controls">
                {{ field }}
            </div>
                </div>
    {% endfor %}
     
    <div class="row" style="margin: 10px">
    <button type="button" id="addObjective" onClick="addObj()"  class="btn btn-primary">Add objective</button>
    </div>
    <div class="row" style="margin: 10px">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    </form>

   <h4> Created Objectives </h4>
   <ul>
   {% for objective in createdObj %}

      <li> <a href="/extra/QuestionsPage/?objective_id={{ objective.id }}">{{ objective.description }}</a> {% if objective.owner %} [Author: {{ objective.owner.user_firstname }} {{ objective.owner.user_lastname }}] {% else %} Anonymous {% endif%} </li>

   {% endfor %}
   </ul>
</div>
<script type="text/javascript"> <!-- scroll jquery -->
        
        
        function addObj() {
                var form = document.getElementsByName("createObjectivesForm");
                textbox = document.createElement('TextArea');
                var new_objectives_count = $("[name=new_objectives_count]").val();
                textbox.name = 'new_objective_' + new_objectives_count;
                new_objectives_count ++; 
        
                div = document.createElement('div');
                textbox.type = 'text';
                textbox.style["width"] = "500px";
                textbox.style["height"] = "100px";

                var reper = document.getElementById('addObjective');
                var parinte = reper.parentNode;

                parinte.insertBefore(textbox, reper);
                parinte.insertBefore(div, reper);               
                
                $("[name=new_objectives_count]").val(new_objectives_count);

        }
</script>
