{% extends "base-1col.html" %}
{% load staticfiles %}
{% load dictionary_extras %}
<!DOCTYPE html>
{% block content %}
<div class="container" style="padding-top: 20px;">
<div class="row">
	<div class="span2">
		<img src="/static/zheadshot.jpg" class="img-rounded" style="height: 140px; width: 140px;"></img>
	</div>
	<div class="span10">
		<h5>{{ fullname }}</h5>
		<h5>{{ user.user_school_state }}</h5>
		<h5>{{ user.user_type }}</h5>
	</div>
</div>
<hr/>
<div class="row">
	<div class="span12">
		<h4>My Courses</h4>
		<ul>
			{% for course in userCourses %}
		 		<li><a href="/units/?course_id={{ course.id }}">{{ course.name }}</a></li>
			{% endfor %}
		</ul>
	</div>
</div>
</div>
{% endblock %}
