{% extends "base-1col.html" %}
{% load staticfiles %}
{% load dictionary_extras %}
<!DOCTYPE html>
{% block content %}
<div class="container" style="padding-top: 20px;">
<div class="row">
	<div class="span2">
		<img src="/static/zheadshot.jpg" class="img-rounded" style="height: 140px; width: 140px;"></img>
	</div>
	<div class="span10">
		<h5>{{ fullname }}</h5>
		<p style="color:#666666; font-weight: strong; font-size: 10pt; font-family: sans-serif;">{{ user.user_type }} in {{ user.user_school_state }}</p>
		<a class="btn btn-success btn-small" href="#">Edit Profile</a>
	</div>
</div>
<hr/>
<div class="row">
	<div class="span12">
		<h4>Basic Information</h4>
	</div>
</div>
<hr/>
<div class="row">
	<div class="span12">
		<h4>My Courses ({{ userCourses|length }})</h4>
		<ul>
			{% for course in userCourses %}
		 		<li><a href="/units/?course_id={{ course.id }}">{{ course.name }}</a></li>
			{% endfor %}
		</ul>
	</div>
</div>
</div>
{% endblock %}
