{% extends "base-1col.html" %}
{% load staticfiles %}
{% load dictionary_extras %}
<!DOCTYPE html>
{% block content %}
<div class="container" style="padding-top: 20px;">
<div class="row">
	<div class="span2">
		<img src="/static/zheadshot.jpg" class="img-rounded" style="height: 140px; width: 140px;"></img>
	</div>
	<div class="span10">
		<h5>{{ fullname }} <i class="icon-ok-sign"></i></h5>
		<p class="profileSubHeader">{{ user.user_type }} at Liberty High School</p>
		<a class="btn btn-success btn-small" href="#">Edit Profile</a>
	</div>
</div>
<hr/>
<div class="row">
	<div class="span9">
		<h4>About</h4>
		<p>
			Zain is a teacher at Liberty High School, and specializes in Science Education.
		</p>
		<h6>Education</h6>
		<ul>
			<li>A.B., Economics, Government & Information Science, Cornell University</li>
			<li>M.Ed, Education Management, Columbia Teacher's College</li>
		</ul>
		<h6>Expertise</h6>
		<ul>
			<li>Investment</li>
			<li>Checks For Understanding</li>
		</ul>
	</div>
	<div class="span3">
		<h4>Courses ({{ userCourses|length }})</h4>
		<ul>
			{% for course in userCourses %}
		 		<li><a href="/units/?course_id={{ course.id }}">{{ course.name }} </a> - {{ course.subject }}</li>
			{% endfor %}
		</ul>
	</div>
</div>
<hr/>
<div class="row">
	<div class="span12">
		<h4>Connect</h4>
		<ul>
			<li>Twitter: <a href="http://www.twitter.com/thezainpasha">http://www.twitter.com/thezainpasha</a></li>
			<li>LinkedIn: <a href="http://www.twitter.com/thezainpasha">http://linkedin.com</a></li>
			<li>Donors Choose: <a href="#">http://www.donorschoose.org</a></li>
		</ul>
	</div>
</div>
</div>
{% endblock %}
