{% extends "base-1col.html" %}
{% load staticfiles %}
{% load dictionary_extras %}
<!DOCTYPE html>
{% block content %}

         <div class="container" id="u1" style="margin-bottom: 60px;">
	<h4> Details for {{ course.name }}  </h4>
	
	<div class="row-fluid">
	Author : {{ course.owner.user_firstname }} {{ course.owner.user_lastname }} <br>
	Course Length : {{ course_length.0 }} weeks,  {{ course_length.1 }} days
	</div>
	<hr />
	<div class="row-fluid">
	<h5> <i type="button" class="icon-plus" data-toggle="collapse" data-target="#course_standards"> </i>Standards taught in this course </h5>

	<div id="course_standards" class="collapse in" hide="true">
	<table class="table table-hover table-striped table-bordered">
	<thead> <tr> <th> # </th> <th> Type </th> {% if has_state %} <th> State </th> {% endif %}  <th> Grade </th> <th> Subject </th> <th> Content </th> </tr> </thead>
		{% for standards in courseStandards %}
	<tr> <td><b> {{ standards.numbering }}</b> </td> <td> {{ standards.standard_type.value }} </td> {% if has_state %} <td> {{ standards.state.value }} </td> {% endif %}<td> {{ standards.grade.value }} </td> <td> {{ standards.subject.value }} </td> <td> <a href="/standard/?standard_id={{ standards.id }}">{{ standards.description }}</a> </td> </tr>
		{% endfor %}
	</table>
	</div>
	</div>
	<hr />
	<div class="row-fluid">
	<h5> Units taught in this course </h5>
	<table class="table table-hover table-striped table-bordered">
	<thead> <tr> <th> Name </th> <th> Description </th> <th> Start Date </th> <th> End Date </th> <th> Rating </th> </tr> </thead>
		{% for unit,rating in courseUnits %}
			<tr> <td> <a href="/unitView/?unit_id={{ unit.id }}">{{ unit.name }} </a></td> <td> {{ unit.description }} </td> <td> {{ unit.start_date }} </td> <td> {{ unit.end_date }} </td> <td> {{ rating }} </td> </tr>
		{% endfor %}
	</table>
	</div>
	<hr />
	<div class="row-fluid">
	<h5> Course statistics </h5>
	</div>
	
</div>



{% endblock %}
