{% extends "base-1col.html" %}
{% load staticfiles %}
{% load dictionary_extras %}
<!DOCTYPE html>
{% block content %}
<h3 style="font-family: sans-serif; padding-left: 20px;">Search for Course Standards</h3>
<div class="row" style="padding-left: 20px;">
    	<form method="post" class="form-horizontal" action="{% url standardsSearch %}" name="standard_search">
		{% for field in standardsSearchForm %}
		<div class="control-group">
		<label class="control-label">{{ field.label }}</label>
		<div class="controls"> {{ field }} </div>
		</div>
		{% endfor %}
		<div class="control-group">
		<div class="controls"><input class="btn btn-success" type="submit" value="Find Standards"></div>
		</div>
    	</form>
</div>
<hr/>
<div class="row" style="padding-left: 40px; padding-right: 20px;">
<table class="table table-hover table-striped table-bordered">
	<caption style="padding-bottom: 10px;"><h5>{{ searchedStandards|length }} {% if has_state %} {{ state }} {% else %} {{ standard_type }} {% endif %} Standards Found </h5></caption>
	<thead> 
		<tr> 
			<th>Number</th> 
			<th>Grade Level</th> 
			<th>Subject</th> 
			<th>Description</th> 
		</tr>
	</thead>
	<tbody>
	{% for standards in searchedStandards %}
	<tr> 
		<td>{{ standards.numbering }}</td>
		<!-- <td> {{ standards.standard_type.value }}</td> 
		{% if has_state %} <td> {{ standards.state.value }} </td> {% endif %} -->
		<td> {{ standards.grade.value }} </td> 
		<td> {{ standards.subject.value }} </td> 
		<td> <a href="/standard/?standard_id={{ standards.id }}">{{ standards.description }}</a> </td> 
	</tr>
	{% endfor %}
    </tbody>
</table>
</div>
{% endblock %}
