{% extends "base.html" %}
{% load staticfiles %}
{% load dictionary_extras %}
<!DOCTYPE html>
{% block content %}
{% if returnResults %}

         <div class="noborderunitbox" id="u1">
        {% for group in searchedStandards %}
	<h4> {{ group.get_state_display }} {{ group.subject }} Standards for Grade {{ group.grade }}</h4> 
	<table class="table table-hover table-striped table-bordered">
	<thead> <tr> <th> Standard # </th> <th> Content </th> </tr> </thead>
	<tbody>
	{% for standards in group.standard.all %}
	<tr> <td><b> {{ standards.numbering }}</b> </td> <td> <a href="/standard/?standard_id={{ standards.id }}">{{ standards.description }}</a> </td> </tr>
	{% endfor %}
        </tbody>
	</table>
	{% endfor %} 
	</p>
	</div>
{% elif searchingStandards %}

	
<div class="modal" id="second">
  <div class="modal-header">
    <a class="close" type="button" href="/courses/">x</a>
    <h3>Search standards</h3>
  </div>
  <div class="modal-body">
    <form method="post" action="{% url standardsSearch %}" name="standard_search">
	{% for field in standardsSearchForm %}
        	
        <div class="control-group">
         <label class="control-label">{{ field.label_tag }}</label>
            <div class="controls">
                {{ field }}
            </div>
                </div>
	{% endfor %}
	<button class="btn btn-primary" type="submit">Search</a>
    </form>
  </div>
</div>

{% endif %}


{% endblock %}
