
<div class="modal hide" id="requestCourse">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">x</button>
    <h3>Request to be added to teacher's course</h3>
  </div>
  <div class="modal-body">
    <form method="post" action="{% url Courses.views.studentRequestCourse %}" id="requestCourseForm">
	{% csrf_token %}
	{% for field in teacherRequestForm %}
        <div class="control-group">
        {{ field.errors.as_text }}
         <label class="control-label">{{ field.label_tag }}</label>
            <div class="controls">
                {{ field }}
            </div>
   		</div>
    {% endfor %}
     <p><button type="button" class="btn btn-primary" onClick="requestCourse()">Submit</button>
		<button type="button" data-dismiss="modal" class="btn btn-primary">Cancel</button>
      </p>
    </form>
  </div>
</div>

<script type="text/javascript"> 

function requestCourse() {

var formstr = $("#requestCourseForm").serialize()

$.ajax({
	data: formstr,
	dataType:'html',
	type: "POST", // GET or POST
      url: {% url Courses.views.studentRequestCourse %}, // the file to call
	success : function(data){
		var obj = jQuery.parseJSON(data);
		if (obj.success=="1") {
			$("#choose_course_modal_body").html = obj.response;
			$("#chooseCourses").modal("show");
			$("#requestCourse").modal("hide");
		}
				
       }

});


}


</script>
