{% extends "base-3col.html" %}
{% load staticfiles %}

<!DOCTYPE html>
{% block content %}

<!-- Middle column main content -->

{% for unit in userUnits %}
	<div class="unitbox" id="{{ unit.id }}">
	<p><a href="/lessons/?unit_id={{ unit.id }}"><h4>{{ unit.name }}</h4></a>Taught over {{ unit.week_length }} weeks</p>
	  <p><b>Description:</b>{{ unit.description }}</p>
	<a class="btn btn-primary btn-small" type="button" href="?unit_id={{ unit.id }}&action=Edit">Edit</a>
        <a class="btn btn-primary btn-small" type="button" href="?unit_id={{ unit.id }}&action=Delete">Delete</a>	
</div>
{% endfor %}
{% endblock %}
<!-- right nav -->
{% block rightnav %}
	<div class="row-fluid">
		<div class="span12 rightnavsubheader">
			<h4 class="page-header">Course Units</h4>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span12">
			{% if userUnits|length == 0 %}
			<div class="alert alert-info">No units created yet</div>
			{% endif %}
			<ul>
				{% for unit in userUnits %}
				<li><a href="/lessons/?unit_id={{ unit.id }}" onclick="goToByScroll('u1')">{{ unit.name }}</a></li>
				{% endfor %}
			</ul>
			</div>
		</div>
	</div>
{% if showEditUnit %}
<div class="modal" id="editUnit">
  <div class="modal-header">
    <a class="close" type="button" href="/units/?course_id={{ course_id }}">x</a>
    <h3>Edit Unit</h3>
  </div>
  <div class="modal-body">
    <form method="post" action="{% url editUnit %}" name="login_form">
        {% csrf_token %}
        {% for field in editUnitForm %}
        <div class="control-group">
        {{ field.errors.as_text }}
         <label class="control-label">{{ field.label_tag }}</label>
            <div class="controls">
                {{ field }}
            </div>
                </div>
    {% endfor %}
     <p><button type="submit" class="btn btn-primary">Update</button>
        <a class="btn btn-primary" type="button" href="/units/?course_id={{ course_id }}">Cancel</a>
      </p>
    </form>
  </div>
</div>
{% endif %}
{% if showDeleteUnit %}
<div class="modal" id="deleteUnit">
  <div class="modal-header">
    <a class="close" type="button" href="/units/?course_id={{ course_id }}">x</a>
    <h3>Delete unit</h3>
  </div>
  <div class="modal-body">
    <form method="post" action="{% url deleteUnit %}" name="login_form">
        {% csrf_token %}
        {% for field in deleteUnitForm %}
        <div class="control-group">
         <label class="control-label">{{ field.label_tag }}</label>
            <div class="controls">
                {{ field }}
            </div>
                </div>
    {% endfor %}
     Are you sure you want to delete the unit?
<p>
     <p><button type="submit" class="btn btn-primary">Yes</button>
        <a class="btn btn-primary" type="button" href="/units/?course_id={{ course_id }}">No</a>
      </p>
    </form>
  </div>
</div>
{% endif %}


{% endblock %}
