{% extends "base-3col.html" %}
{% load staticfiles %}

<!DOCTYPE html>

{% block content %}
<!-- Middle column main content -->
{% for unit in userUnits %}
<div class="span7" id="content">
	<div class="unitbox" id="{{ unit.id }}">
    			  <h4>{{ unit.name }}</h4>
				  <p><a href="/lesson/?unitid={{ unit.id }}"></a> - Taught over {{ unit.week_length }} weeks</p>
				  <p><b>Description:</b>{{ unit.description }}</p>
    			  <button class="btn btn-primary btn-small" type="button">View Unit</button>
    			  <button class="btn btn-primary btn-small" type="button">Edit Unit</button>
    			  <button class="btn btn-primary btn-small" type="button">Delete Unit</button>
	</div>
</div>

{% endfor %}
<!-- right nav -->
<div class="span3" id="rightnav">
<div class="row-fluid">
	<div class="span12 rightnavsubheader">
		<h4 class="page-header">Course Units</h4>
	</div>
</div>
	<div class="row-fluid">
		<div class="span12">
			{% if userUnits|length == 0 %}
			<h6>No units created yet</h6>
			{% endif %}
			<ul>
				{% for unit in userUnits %}
				<li><a href="/lesson/?unitid={{ unit.id }}" onclick="goToByScroll('u1')">{{ unit.name }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>
{% endblock %}

