{% extends "base-3col.html" %}
{% load staticfiles %}

<!DOCTYPE html>
{% block content %}

<!-- Middle column main content -->
{% if userUnits|length == 0 %}
<div class="container alertbox" style="width: 100%;">
	<div class="alert alert-info">
		<p>There aren't any units in this course yet. <a href="#addUnit" data-toggle="modal">Add one.</a></p>
	</div>
</div>
{% else %} 	
{% for unit in userUnits %}
<div class="container coursebox">
<div class="row">
	<div class="span3">
        <a class="courseboxtitle" href="/lessons/?unit_id={{ unit.id }}" >{{ unit.name }}</a>
    </div>
    <div class="span1 offset3" style="width: 10px">
    	<a class="close" href="javascript:void(0)" rel="tooltip" data-placement="bottom" title="Add course standards to this unit" onClick="requestUnitStandards('{{ unit.id }}')"><i class="icon-plus"></i></a>
    </div>
    <div class="span1" style="width: 10px;">
    	<a class="close" rel="tooltip" data-placement="bottom" title="Edit Unit Details" href="javascript:void(0)" onClick="requestEditUnit('{{ unit.id }}')"><i class="icon-edit"></i></a>
    </div>
    <div class="span1" style="width: 10px;">
    	 <a class="close" rel="tooltip" data-placement="bottom" title="Delete Unit" href="javascript:void(0)" onClick="requestDeleteUnit('{{ unit.id }}')"><i class="icon-trash"></i></a>
    </div>
</div>
<div class="row">
	<div class="span4">
		<h5 class="coursesubtitle">In {{unit.course.name}}</h5>
	</div>
</div>
<div class="row courseboxsubtext">
    <div class="span2">
    	<p><b>Created By: </b><a href="#">{{fullname}}</a></p><!-- this should link to a public profile view of the user -->
    </div>
    <div class="span2">
    	<p><b>Starts: </b>{{unit.start_date}}</p>
    </div>
    <div class="span2">
    	<p><b>Ends: </b>{{unit.end_date}}</p>
    </div>
</div>
<div class="row">
	<div class="span10">
		<p>
		{{ unit.description }}
		 </p>
	<!-- TODO remove this as a get -->
		<a class="btn btn-success btn-small" type="button" href="/lessons/?unit_id={{ unit.id }}">Go To Unit</a>
    </div>
</div>
</div> 

<!-- unit box -->
	<!-- <div class="coursebox" id="{{ unit.id }}">
	<p><a href="/lessons/?unit_id={{ unit.id }}"><h4>{{ unit.name }}</h4></a></p>
	  
		<p><b>Description:</b>{{ unit.description }}</p>
		{% if unit.parent_unit %} <p><b>Unit derived from</b>{{ unit.parent_unit.name }}</p>{% endif %}
		<p><b>Start Date:</b>{{ unit.start_date }}</p>
		<p><b>Expected End Date:</b>{{ unit.end_date }}</p>
		<p><b>Standards for this Unit: </b> 
	<br>	{% for standard in unit.standards.all %}
			{{ standard.description }}<br>
		{% endfor %}
	<br>
	<a class="btn btn-primary btn-small" type="button" href="?unit_id={{ unit.id }}&action=Edit">Edit</a>
        <a class="btn btn-primary btn-small" type="button" href="?unit_id={{ unit.id }}&action=Delete">Delete</a>	
	<a class="btn btn-primary btn-small" type="button" onClick="requestUnitStandards('{{ unit.id }}')" >Add Standards</a>
</div> -->
{% endfor %}
{% endif %}



{% include "unit_standards_modal.html" %}
{% include "unit_edit_modal.html" %}
{% include "unit_delete_modal.html" %}
{% endblock %}
<!-- right nav -->
{% block rightnav %}
	<!-- <div class="row">
		<div class="span2">
			<h4>{{ course.name}} Units</h4>
		</div>
	</div> -->
	
	<!--  RIGHT HAND NAVIGATION - This generates the right hand side naviation on the units page. Code block shows 
	a prompt to add a unit in the course if no units are present, and otherwise shows a menu 
	of the units that are currently in the course. -->
	
	<div class="row">
		<div class="span3 nocontenttext">
			<ul class="nav nav-list" style="width: 95%;">
				<li class="nav-header">{{course.name}} Units</li>
				{% if userUnits|length == 0 %}
					<li><a href="#addUnit" data-toggle="modal"><i class="icon-plus"></i>Add Your First Unit</a></li>
				{% else %}
					{% for unit in userUnits %}
					<li><a href="/lessons/?unit_id={{ unit.id }}" onclick="goToByScroll('u1')">{{ unit.name }}</a></li>
					{% endfor %}
					<li><a href="#addUnit" data-toggle="modal"><i class="icon-plus"></i>Add Another Unit</a></li>
				{% endif %}
				</ul>
			</div>
		</div>
{% endblock %}
