<div class="modal hide" id="deleteUnit">
  <div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">x</button>
    <h3>Delete unit</h3>
  </div>
  <div class="modal-body">
    <form method="post" action="{% url deleteUnit %}" name="login_form">
     Are you sure you want to delete the unit?
	<input type="hidden" name="unit_id" id="deleteUnitHidden">
<p>
     <p><button type="submit" class="btn btn-primary">Yes</button>
        <a class="btn btn-primary" type="button" data-dismiss="modal">No</a>
      </p>
    </form>
  </div>
</div>

<script type="text/javascript"> 

	function requestDeleteUnit(id){
		$("#deleteUnitHidden").val(id)
		$("#deleteUnit").modal("show");
	}

</script>
